[2017-07-24 16:11] willjr20 commented on #705
I agree, the issue is in how unzip functions.  32 chars is sufficient for the DSC zip file name.  I don't see a solution short of fixing the unzip functionality.  Documentation indicating the users should shorten the DSC zip file name to 32 chars or less should they have an issue with unzipping by Azure DSC Extension should be good.

[2017-07-24 17:55] johlju opened #709 "xSQLServerSetup: Add a simple integration test"
**Details of the scenario you tried and the problem that is occurring:**
To start off somewhere, with integration tests, I'm working on a simple integration test for this resource. I call it simple, because this resource has a lot of aspects when looking at integration tests, and some are limited to what we can do in AppVeyor. But the more complex integration test scenarios should be able to run l

[2017-07-24 19:12] nabrond commented on #691
The only thing I see in the 7.1 code for this area are a few registry key calls. There were significant changes in the 8.0 release; you mentioned that you still receive an error message, but it is different. Can you share the logs associated with that run?

[2017-07-24 19:43] #707 closed

[2017-07-25 10:46] johlju opened #711 "xSQLServer: Update Year in License and Module Manifest to 2017"
**Details of the scenario you tried and the problem that is occurring:**
See PowerShell/DscResources#298

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node is running:**
n/a

**V

[2017-07-25 12:31] johlju commented on #711
The year in module manifest was updated in a previous PR.

[2017-07-25 14:02] kinwolfqc commented on #691
Sure.  So I installed v8 release version, made some modifications necessary because of breaking change(SetupCredential) and ran it.  SQL installed successfully and when I ran Get-DSCConfiguration I got this error now:
<pre>
VERBOSE: [P4V0-H01T4101]:                            [[xSQLServerSetup]sqlsa::[DSQ_SQLSA]SqlA] Using path 'c:\temp\SQL2012\setup.exe'.
VERBOSE: [P4V0-H01T4101]:

[2017-07-25 19:25] johlju commented on #691
Can you post the configuration you are using to install using v8?

[2017-07-26 07:27] johlju commented on #691
@kinwolfqc I see in your initial issue description that the resource is named DSQ_SQLSA. How is that, aren't you using xSQLServerSetup, if you are, how come it says DSQ_SQLSA.
So could you provide the configuration you are using to install using xSQLServer v.8.0.0.0 and I shall try to reproduce the error with the same configuration.

[2017-07-26 07:31] johlju commented on #705
If we would have a longer resource name, or any other file, that would exceed 260 chars even when you shorten the zip file name (to let's say 'a.zip'). Would that be a problem?

I'm curious, because I wonder if we need to make a unit test that check the length of the paths, so we don't exceed 260 chars.

[2017-07-26 12:36] kinwolfqc commented on #691
It says DSQ_SQLSA simply because I created a composite resource for our SQL role.  Our configuration file is built to handle server "profiles", and since many profiles have an SQL "role" in them, putting it in a composite resource was the best thing to do to avoid repeating the SQL code in every profile requiring it.   But in DSQ_SQLSA we call xSQLServer just like usual.  I have included the relev

[2017-07-26 13:56] kinwolfqc commented on #691
It mention DSQ_SQLSA because I created a composite resource for our SQL role.  That way we can use that composite resource in all our environments configuration where an SQL role is required.   But in DSQ_SQLSA we call xSQLServer just like usual.  I have included the relevant part below.  the last one is from the composite resource.

<pre>
 @{
            NodeName = 'POC2016'
            #public k

[2017-07-27 08:58] DdenBraver opened #713 "xSQLServerSetup doesnt show up when loading xSQLServer in Azure Automation"
**Details of the scenario you tried and the problem that is occurring:**
Importing the module to Azure Automation fromthe PowerShell Gallery is succesfully, however not all DSC resources are imported. Only 26 out of 28 resources show up.
The same thing happends when I download the Module manually, zip it and upload it.

**The DSC configuration that is using the resource (as detailed as possible):*

[2017-07-27 11:45] johlju commented on #713
Is this the same issue as issue #705?

[2017-07-27 11:50] DdenBraver commented on #713
I am not entirely sure if this is related to a change in the xSQLServer resource, or a change in Azure Automation. It started happening after this weekend, and currently as it stands all older versions also have this issue.

I have just tested version 6.0.0.0 up to 7.1.0.0 and none of them seems to import the xSqlServerSetup resource.

[2017-07-27 15:56] #711 closed

[2017-07-28 10:14] johlju commented on #713
If this worked for you with 8.0.0.0 (or older) before the weekend it doesn't sound like an issue with this module. Or, the way it is imported has changed (somekind of verification), and there a bug in those two resources that doesn't allow it to be imported.

Does anyone else see the same problem?

[2017-07-28 17:40] kinwolfqc commented on #691
In version 8.0.0.0, if I comment out this line <pre>ASSysAdminAccounts = $analysisSystemAdminAccounts</pre>
get-dscconfiguration finally pass

[2017-07-28 18:11] johlju commented on #691
Is ASSysAdminAccounts set to only one value?  Could you try to change to this and see if that works.

[code]

[2017-07-28 18:16] johlju commented on #691
If that works, the bug is in this line, that does not return an array when there is only one administrator.

https://github.com/PowerShell/xSQLServer/blob/dev/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L296

[2017-07-28 18:37] kinwolfqc commented on #691
Yes, there is only one account set to add as an AS Admin Account.  And <pre>ASSysAdminAccounts = [System.String[]] $analysisSystemAdminAccounts</pre>
does work :)

[2017-07-28 18:48] johlju commented on #691
@kinwolfqc Thanks for find that! 😄  If no one else beats me to it, I will fix this bug in a day or so.

[2017-07-28 18:59] kinwolfqc commented on #691
I'm just as happy here since all works perfectly now (doing a demo of what DSC can bring us to management, while having an error message, would not have been a winning combination...!) This actually also helped solving another resource that failed with Get-DscConfiguration(xWebsite).  Adding [System.String[]] before the variable also solved it.  So looks like a similar problem :)  I'm gonna go pos

[2017-07-29 11:02] johlju commented on #691
@kinwolfqc Sent in PR #715 that resolves this problem.

Would you mind testing this change?

Change line 296 to [this line instead](https://github.com/johlju/xSQLServer/blob/3853fcc09c25cd6fed9dd2910b99f74dd780a529/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L296)

[code]
Revert [line 484](https://github.com/johlju/xSQLServer/blob/3853fcc09c25cd6fed9dd2910b99f74dd780a529/DSCResourc

[2017-07-30 07:37] shurick81 opened #716 "Undefined DSC resource 'xSQLServerSetup' when compiling in Azure Automation"
**Details of the scenario you tried and the problem that is occurring:**
1. Creating new automation resource in Azure
2. Adding xSQLServer module
3. Uploading my test configuration
4. Trying to compile it

I receive this error:
Exception calling "NewScriptBlock" with "1" argument(s): "At line:9 char:9 + xSQLServerSetup SQLSetup + ~~~~~~~~~~~~~~~ Undefined DSC resource 'xSQLServerSetup'. Use Import

[2017-07-30 14:10] johlju commented on #716
This is the same issue as #713 i think?

[2017-07-30 14:38] johlju commented on #713
@mbreakey3 or @kwirkykat this is very strange, do you know how the module is extracted in Azure Automation? Is something verified/evaluated during the "extracting activities" step that could explain the resources not to show up?

I have stripped everything except three resource (and essentials); xSQLServerScript, xSQLServerSetup and xWaitForAvailabilityGroup. Zipped and uploaded that stripped modu

[2017-07-30 14:38] shurick81 commented on #713
I have noticed this behavior as well but then I created another Automation resource and all 28 resources were imported properly imported.

[2017-07-30 14:39] shurick81 commented on #716
I'm not sure but might be connected somehow.

[2017-07-30 15:00] johlju commented on #713
@shurick81 Hmm... That doesn't seem reliable. Created a a new Azure Automation resource and uploaded sam stripped version of the module, but only one was listed as in previous test. 😞

[2017-07-30 20:00] DdenBraver commented on #713
@mgreenegit Is also looking at this issue:
https://twitter.com/migreene/status/890617502044114946

[2017-07-31 11:48] kinwolfqc commented on #691
That one is not working.  I get the following error messages:
<pre>Get-DscConfiguration : Cannot convert 'System.String[]' to the type 'System.String' required by parameter 'Message'. Specified method is not supported.
At line:1 char:1
+ Get-DscConfiguration -verbose
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidArgument: (MSFT_DSCLocalConfigurationManager:root/Microsoft/...

[2017-07-31 11:53] johlju commented on #691
That looks like something else. It looks more like a `Write-Verbose -Message  '...'` is failing. But this variable we are chaning is not used anywhere else than returning in the property ASSysAdminAccounts of the hash table.

[2017-07-31 11:54] johlju commented on #691
I will test this myself also. 😄

[2017-07-31 12:03] kinwolfqc commented on #691
Forget my previous message. (seems I deleted it 20 secs too late) The proposed fix works perfectly.  No error or anything.

The reason for the error message I got was simply because I had left a "write-verbose" in there for debugging.  Once I noteiced it and removed it, all was good.

[2017-07-31 12:06] johlju commented on #691
@kinwolfqc No worries! Thank you for testing! Appreciate it! Will merge this fix now. 😄

[2017-07-31 12:10] #691 closed

[2017-07-31 12:51] Jaykul opened #717 "DSCFCISqlBuild.ps1 is outdated"
Hey, just thought I'd point out the example [here](https://github.com/PowerShell/xSQLServer/blob/dev/Examples/DSCFCISqlBuild.ps1) is still using `xSQLServerFailoverClusterSetup`, which as far as I can tell doesn't exist anymore.

[2017-07-31 16:24] johlju commented on #717
Yes, all the examples in the root of /Examples should be rewritten, because they reference resources that no longer exist or has been been updated with breaking changes.  We had a discussion about that here https://github.com/PowerShell/xSQLServer/issues/462 and my thought was that I would have time to fix this during the month that went by. But other stuff needed to be done
I'm looking at splitti

[2017-07-31 16:25] johlju commented on #462
All the examples in the root of /Examples should be rewritten, because they reference resources that no longer exist or has been been updated with breaking changes. My thought was that I would have time to fix this during the month that went by. But other stuff needed to be done
I'm looking at splitting these examples between xSQLServer and xFailOverCluster. Help is welcomed. :)

[2017-08-02 11:32] sujitks opened #718 "SQL Server Setup does not have administrator rights on the computer"
Hi,

I am keep getting error as **The account running SQL Server Setup does not have administrator rights on the computer. To continue, use an account with administrator rights.**

I am running the DSC configuration from the Powershell ISE which is running as administrator. Account supplied in the PsDscRunAsCredential supplied is administrator on the box.

could you please help?

**Trying to insta

[2017-08-02 13:13] sujitks commented on #718
Looks like that installation media downloaded from MSDN had some issues. I was able to use another media with the same DSC config

[2017-08-02 13:13] #718 closed

[2017-08-02 21:36] nabrond commented on #706
Thoughts on making this its own resource rather than trying to jam more functionality into xSQLServerSetup? I envision something like...
[code]
If there's no concerns, I can take on writing this resource.

[2017-08-03 08:16] johlju commented on #706
@pstork I see that MicrosoftAzure_xSqlServer module (friendly name xSqlServer) in xSQL has a helper function Set-ServiceAccount that handles this. It also seems handle recreating the SPN's.

@nabrond I think I'm positive to this.

On one hand I don't like the idea since that would make it possible the service accounts (SQLSvcAccount, AgtSvcAccount, FTSvcAccount, RSSvcAccount, ASSvcAccount and ISSv

[2017-08-03 08:20] johlju commented on #706
@pstork Regarding default database file and log directories, can ju post a separate issue for that?

[2017-08-03 08:20] johlju commented on #706
@nabrond Could you post a suggested schema.mof so we can see type qualifiers (Key, Write, etc) and descriptions? I'm curious what Force does.

[2017-08-03 22:52] nabrond commented on #706
@johlju This is what I am thinking for the MOF.
[code]
I imagine the useage of the `Force` parameter be limited to when you need to keep the same account, but update the password.

[2017-08-04 12:54] johlju commented on #706
We use instance name on all other resources. Should we do that here for xSQLServerServiceAccount as well?

Having SQLInstanceName as Key, and change ServiceName to be a ValidateSet with only those services we support changing account for. From those two parameters we find the correct service. That would seem better to me, otherwise the user must first look what the actual service name is.
What do

[2017-08-04 21:42] nabrond commented on #706
That is probably a better route. As I started to work through things, I was struggling to find a good way to work backwards to the Server and InstanceName from the service. I like maintaining parity with the common parameters in other resources. I will update the MOF to reflect:  SQLServer, SQLInstanceName, ServiceType (Enum), ServiceAccount, RestartService, and Force as the parameters. I think us

[2017-08-05 18:26] johlju commented on #706
Sounds good to me @nabrond! Label this as in progress. Looking forward to the PR.
Is it possible for you to fix localization (en-US) at once? See xSQLServerSetup as an example.

[2017-08-07 15:06] randomnote1 opened #719 "SqlScript: Store queries in configuration properties"
**Details of the scenario you tried and the problem that is occurring:**
I believe xSQLServerScript should behave in a manner consistent with the [DSC Script resource](https://docs.microsoft.com/en-us/powershell/dsc/scriptResource) where the contents of the Get/Set/Test scripts are stored in the configuration, not in an external file. I do see the value in being able to execute the Get/Set/Test fr

[2017-08-08 10:46] aboersch opened #720 "xSQLServerSetup: Trailing Slash in UpdatePath"
**Details of the scenario you tried and the problem that is occurring:**
I had specified an UpdateSource that contained a trailing slash e.g. "C:\SQL\Updates\\".

I then received the error "The /IAcceptSQLServerLicenseTerms command line parameter is missing or has not been set to true."

From what I can tell the xSQLServerSetup is sanitizing all paths in terms of trailing slashes EXCEPT UpdateSour

[2017-08-10 10:57] johlju commented on #719
@randomnote1 This looks good to me. But I think it should be possible to use, for example, GetScript and SetFilePath at the same time. But it should throw an error if both Get*, Test* or Set* parameters are set.

[2017-08-10 11:07] mdaniou opened #721 "xSQLServerAlwaysOnAvailabilityGroup : add Database Level Health Detection and Per Database DTC support"
**Details of the scenario you tried and the problem that is occurring:**

I work on the DSC configurations for an upgrade to SQL 2016. The environment uses an Always-On Cluster and we would like to use the option Database Level Health Detection.

I had a look at the resource and I can implement that. If you agree with this implementation, I will submit it to you. I also want to add the option Per

[2017-08-10 11:07] johlju commented on #716
@shurick81 Could you post your test configuration here or in a [Gist](https://gist.github.com/)? I need to try this out for my self. if it more than one file, you could zip them, and submit the zip file here.
Please remove any sensitive information.

[2017-08-10 11:12] johlju commented on #720
@aboersch Thanks for reporting this! And you are correct, it should be sufficient to add this to the array at [line 838](https://github.com/PowerShell/xSQLServer/blob/dev/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L838).

[2017-08-10 11:16] johlju commented on #720
To all: This is an "easy fix", so if anyone want to contribute this change to the module, then this would be a good issue to start with. I'm here to help along the way.

[2017-08-10 11:27] johlju commented on #721
Yes, please, that would be a great addition to the resource. Could you please share the new suggested schema.mof so the community can have a chance to raise any suggestions/opinions while you code this?

Will the resource xSQLServerAlwaysOnAvailabilityGroupReplica need to change as well? If so please submit an issue for that resource as well (with the new suggested schema.mof).

[2017-08-10 11:34] randomnote1 commented on #719
Yes, I was thinking the same thing. I updated the suggestion to reflect this.

[2017-08-10 11:54] mdaniou commented on #721
I am currently writing it.

These options are to be configured at the AG level, hence I don't see any reason xSQLServerAlwaysOnAvailabilityGroupReplica would have to be changed.

I am not used to contribute in GitHub. I have read the guidelines but please let me know if I am doing something the wrong way.
It seems like I can't assign this issue to myself and set the correct labels.

Here is the sc

[2017-08-10 12:01] johlju commented on #721
You doing everything correctly so far. 😄 You can't set labels yourself, I labeled the issue now (forgot to do it before when I commented). I labeled it as "in progress".

I fixed the formatting. You should surround code blocks with three back ticks at the beginning and at the end (edit your comment and you see what I changed).

When you send in the PR I will review your code and comment on anythin

[2017-08-11 09:05] aboersch commented on #720
Me ;)

[2017-08-11 12:04] johlju commented on #720
@aboersch awesome! Labeling this as in progress.

[2017-08-11 15:15] aboersch commented on #701
Appending .Replace('"','""') @ [line 2075](https://github.com/PowerShell/xSQLServer/blob/dev/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L2075) should do the trick by escaping the double-quotes.

[2017-08-12 08:31] shurick81 commented on #716
I think I have already posted it?

`Configuration SharePointDevelopmentEnvironmentTest2
{
Import-DSCResource -ModuleName xSQLServer
Node "lab3sp1"
{
xSQLServerSetup SQLSetup
{
InstanceName = "MSSQLServer"
SourcePath = "C:\Install\SQL 2016"
Features = "SQLENGINE"
InstallSharedDir = "C:\Program Files\Microsoft SQL Server"
SQLSysAdminAccounts = "username"
DependsOn = "[Group]AdminGroup"
}
}
}`

[2017-08-12 10:10] johlju opened #724 "xSQLServerAlwaysOnService: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerAlwaysOnService.psm1 (Line 59): $null should be on the left side of equality comparisons.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node

[2017-08-12 10:11] johlju opened #725 "xSQLServerDatabasePermission: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerDatabasePermission.psm1 (Line 55): Mandatory Parameter 'SQLServer' is initialized in the Param block. To fix a violation of this rule, please leave it unintialized.
MSFT_xSQLServerDatabasePermission.psm1 (Line 60): Mandatory Parameter 'SQLInstanceName' is

[2017-08-12 10:12] johlju opened #726 "xSQLServerLogin: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerLogin.psm1 (Line 496): Mandatory parameters must use the correct format [Parameter(Mandatory = $true)] for the mandatory attribute. See https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-format-for-parameter-block
MSFT_xSQLSe

[2017-08-12 10:13] johlju opened #727 "xSQLServerPermission: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerPermission.psm1 (Line 293): Mandatory parameters must use the correct format [Parameter(Mandatory = $true)] for the mandatory attribute. See https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-format-for-parameter-block
MSFT_x

[2017-08-12 10:16] johlju opened #728 "xSQLServerScript: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerScript.psm1 (Line 68): Non-mandatory parameters must use the correct format [Parameter()] for the parameter attribute. See https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-format-for-parameter-block
MSFT_xSQLServerScript.ps

[2017-08-12 10:17] johlju opened #729 "xSQLServerSetup: PSScriptAnalyzer errors need to be fixed"
**Details of the scenario you tried and the problem that is occurring:**
The following PSScriptAnalyzer errors need to be fixed:
MSFT_xSQLServerSetup.psm1 (Line 1808): Mandatory parameters must use the correct format [Parameter(Mandatory = $true)] for the mandatory attribute. See https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#correct-format-for-parameter-block
MSFT_xSQLS

[2017-08-12 10:44] shurick81 commented on #716
@johlju, now I have published in gist:
https://gist.github.com/shurick81/ecc01558102fc9587edda9ce358f16cd

[2017-08-12 11:06] johlju commented on #716
@shurick81 Sorry man, I thought it was gonna be a ARM template or something 😉  Let me try compiling the same configuration.
But it looks very similar to issue #713 - maybe even if you manged to get xSQLServerSetup to show, there is still a problem. But just guessing.

[2017-08-12 11:10] #709 closed

[2017-08-12 11:56] johlju commented on #186
We got simple integration tests going with PR #710. Doing integration testing for the advanced installation options using xSQLServerSetup which depends on a cluster and AD will not work with AppVeyor in the way we use it now.

I'm currently working on option 4.1 for the resource module xFailOverCluster.

### Options

#### Option 1 - Docker - did not work
Setting up a several Docker images in the A

[2017-08-13 10:41] johlju opened #731 "xSQLServerSetup: More advanced integration tests"
**Details of the scenario you tried and the problem that is occurring:**
Currently there exist a basic integration test, but that should be extended to include all parameters and all features.

To the cluster installs and AlwaysOn installs that need a test environment that we currently does not have. See https://github.com/PowerShell/xSQLServer/issues/186#issuecomment-321976630 for more informatio

[2017-08-13 10:46] johlju opened #732 "xSQLServerAlwaysOnAvailabilityGroup: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

This has the same problem as integration tests as for xSQLServerSetup, please see issue #731.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:*

[2017-08-13 10:46] johlju opened #733 "xSQLServerAlwaysOnAvailabilityGroupReplica: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

This has the same problem as integration tests as for xSQLServerSetup, please see issue #731.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:*

[2017-08-13 10:47] johlju opened #734 "xSQLServerAlias: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:48] johlju opened #735 "xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

This is dependent on issue #732.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version o

[2017-08-13 10:48] johlju opened #736 "xSQLServerAlwaysOnService: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:48] johlju opened #737 "xSQLServerAvailabilityGroupListener: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:49] johlju opened #738 "xSQLServerConfiguration: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:49] johlju opened #739 "SqlDatabase: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:50] johlju opened #740 "SqlDatabaseOwner: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:55] johlju opened #741 "SqlDatabasePermission: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:55] johlju opened #742 "SqlDatabaseRecoveryModel: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:56] johlju opened #743 "xSQLServerDatabaseRole: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:56] johlju opened #744 "SqlServerEndpoint: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:57] johlju opened #745 "xSQLServerEndpointPermission: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:58] johlju opened #746 "SqlServerEndpointState: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:58] johlju opened #747 "SqlWindowsFirewall: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:58] johlju opened #748 "SqlServerLogin: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:59] johlju opened #749 "xSQLServerMaxDop: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:59] johlju opened #750 "xSQLServerMemory: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 10:59] johlju opened #751 "SqlServerNetwork: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:00] johlju opened #752 "SqlPermission: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:00] johlju opened #753 "xSQLServerRSConfig: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:01] johlju opened #754 "SqlRSSecureConnectionLevel: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:01] johlju opened #755 "SqlServerReplication: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:02] johlju opened #756 "SqlServerRole: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:02] johlju opened #757 "SqlScript: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 11:02] johlju opened #758 "xWaitForAvailabilityGroup: Integration test is missing for this resource"
**Details of the scenario you tried and the problem that is occurring:**
We should add an integration test for this resource.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which version of the module the DSC Target Node i

[2017-08-13 18:41] Dalmirog opened #759 "xSQLServerDatabase: Exception calling "Create" with "0" argument(s)"
- Running configuration locally in push mode
- Windows 2016 server
- SQL server express 2014 installed in the same server
- If I try to create a DB by setting `ensure = present` I get `Exception  calling "Create" with "0" argument(s)`
- If I try to remove an existing DB setting `ensure = absent` I get `Exception  calling "Drop" with "0" argument(s)`
- If I run `ensure = present` for a DB that alre

[2017-08-13 18:43] Dalmirog commented on #759
I also noticed that the example in your repo isn't using `$SysAdminAccount` even though the parameter is set as `Mandatory`.

https://github.com/PowerShell/xSQLServer/blob/dev/Examples/Resources/xSQLServerDatabase/1-CreateDatabase.ps1

[2017-08-14 19:28] johlju opened #760 "SqlDatabase: Bug in example 1-CreateDatabase.ps1"
**Details of the scenario you tried and the problem that is occurring:**
This example should set `PsDscRunAsCredential` to  $SysAdminAccount.

https://github.com/PowerShell/xSQLServer/blob/dev/Examples/Resources/xSQLServerDatabase/1-CreateDatabase.ps1

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell t

[2017-08-14 19:29] johlju commented on #759
Can you run this and post the output?

[code]

_Submitted a new issue to track the problem with the example file._

[2017-08-14 20:11] Dalmirog commented on #759
Thanks for the response @johlju !

Output:

[code]

[2017-08-14 20:24] johlju commented on #759
Okay, that looks good, so you got the type. And it should be able to call the Create() method.
Not sure what's going on.

Could you run this also
[code]

[2017-08-14 20:25] Dalmirog commented on #759
[code]

[2017-08-15 15:44] ChrisLGardner opened #761 "xSQLServerSetup: The resource should support the action REBUILDDATABASE"
If SQL is already installed on a machine (such as Azure images) then using xSqlServerSetup to change any of the other configurations other than Features doesn't do anything.

Should we extend xSqlServerSetup Test-TargetResource to include checking collation (and eventually all the other possible settings)?

Do we want to extend xSqlServerDatabase to also allow setting collation that isn't the same

[2017-08-15 19:24] johlju opened #763 "xSQLServerAlwaysOnService: Returns IsHadrEnabled -eq $null"
**Details of the scenario you tried and the problem that is occurring:**
Sometimes this row returns $null resulting in an exception. This most likely due to that the server has not been restarted after setup. _I'm guessing, because I hit this issue during integration testing. And there I am suppressing reboot._
If we instead cast this row to a Boolean, it will always return false if it is false or

[2017-08-15 19:28] johlju commented on #763
Wrong link to error message. Above link is test run after testing casting to boolean. This is the correct url showing the error.
https://ci.appveyor.com/project/johlju/xsqlserver/build/6.0.848.0#L1658

[2017-08-15 21:38] ChrisLGardner commented on #727
This is being triggered by:
[code]

But as far as I can tell the PSSA rule is looking for Parameter to only contain 'Mandatory = $true'. This is also happening in #726 for the same reasons. I'm not sure there is an easy fix without changing the custom PSSA rule a bit to account for multiple entries in the parameter attribute.

[2017-08-16 05:44] johlju commented on #706
Changed the title of this issue to reflect the new resource name instead.

[2017-08-16 06:02] johlju commented on #761
We had a discussion [here](https://github.com/PowerShell/xSQLServer/issues/706#issuecomment-319901185) where we discussed that if setup.exe can not do the change, then the resource xSQLServerSetup should not change those properties. This is open for debate, though. I don't want a new resource for every setting/property, so if changing collation for the server is not part of xSQLServerSetup, then m

[2017-08-16 07:30] ChrisLGardner opened #767 "xSQLServerDatabase: Set collation of Database."
There are scenarios where it would be necessary to have different collations on a database than the server, we could extend the functionality of xSQLServerDatabase to handle this with another property.

[2017-08-16 07:32] ChrisLGardner commented on #761
The current method I'm using is a Script block that just calls Setup.exe and gives it the collation to use so I think it's appropriate for the xSQLServerSetup resource.

I'll look at how best to test the collation is correct as that should be the only change that's needed, the rest of the functionality is already there for applying the collation.

[2017-08-16 07:56] johlju commented on #761
Cool. Sounds great. I label this as "in progress" then.

[2017-08-16 08:10] johlju commented on #727
Ah, let me look at this one and I will get back to you. :) We might need to change the common test.

[2017-08-16 08:17] #729 closed

[2017-08-16 08:21] #728 closed

[2017-08-16 16:38] johlju commented on #763
The error message returned is
[code]

Casting the return value to [System.Boolean] will make sure a `$null` value is never returned, and Test-TargetResource will always return $false if IsHadrEnabled property can't be read correctly.

[2017-08-16 18:42] #725 closed

[2017-08-17 12:21] johlju commented on #716
I have reproduced this error. No xSQLServer resources can compile in Azure Automation with version 8.0.0.0.

This problem is due to long paths. Some files in the module exceed 120 chars so the compilation fail with this error message.

Workarounds until this is fixed.

* Deploy earlier version 7.1.0.0 of the module.
* If you want to use v8.0.0.0, and don't need resource xSQLServerAlwaysOnAvailabil

[2017-08-17 12:39] johlju opened #769 "xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership: Relative path to long for Azure Automation"
**Details of the scenario you tried and the problem that is occurring:**
xSQLServer resources can't compile in Azure Automation, I have narrowed it down to that resources can't compile because of too long file paths. This seem to have started in version 8.0.0.0.

To solve issue PowerShell/xSQLServer#716 the relative file path can't be longer than 120 characters.

Because of this we need to rename

[2017-08-17 12:42] johlju opened #770 "xSQLServerEndpointPermission: Relative path to long for Azure Automation"
**Details of the scenario you tried and the problem that is occurring:**
xSQLServer resources can't compile in Azure Automation, I have narrowed it down to that resources can't compile because of too long file paths. This seem to have started in version 8.0.0.0.

To solve issue PowerShell/xSQLServer#716 the relative file path can't be longer than 120 characters.

We need to rename the example file

[2017-08-17 12:44] johlju opened #771 "xSQLServerAvailabilityGroupListener: Relative path to long for Azure Automation"
**Details of the scenario you tried and the problem that is occurring:**
xSQLServer resources can't compile in Azure Automation, I have narrowed it down to that resources can't compile because of too long file paths. This seem to have started in version 8.0.0.0.

To solve issue PowerShell/xSQLServer#716 the relative file path can't be longer than 120 characters.

We need to rename the example file

[2017-08-17 12:56] #724 closed

[2017-08-17 13:53] shurick81 commented on #713
@johlju, is this connected? https://github.com/PowerShell/xSQLServer/issues/716#issuecomment-323056385

[2017-08-17 15:31] johlju commented on #713
No, it is not related, not directly anyway (see twitter conversation above with @mgreenegit) . A configuration using xSQLServerSetup (which does not show in the resource list) compiles correctly once a workaround from #716 has been applied.

[2017-08-17 18:55] kwirkykat commented on #771
@johlju I forwarded this issue to someone on the Azure Automation team. Waiting for a response

[2017-08-17 19:11] johlju commented on #771
Thanks @kwirkykat!

[2017-08-17 19:15] kwirkykat commented on #771
@johlju Here's their response:
"We have a bug tracking the long path issue. It’s currently assigned to Sourabh’s team. (Sourabh is out till 9/3). As for workaround right now, customer can compile the configuration locally first and import the Mof directly into AA either from portal or PowerShell. The xSQL resource can still be imported into AA module asset so it should be available for pulling."

[2017-08-17 19:27] johlju commented on #771
Thanks Katie, that is great news! Then I will hold off making any changes for this issue until we see if this bug is resolved.
I will (tomorrow) label the issues "on hold" for now.

[2017-08-18 05:27] johlju commented on #771
I labeled this "on hold" and await a possible resolution from Azure Automation Team (which can be a while).

[2017-08-18 05:27] johlju commented on #769
I labeled this "on hold" and await a possible resolution from Azure Automation Team (which can be a while).

[2017-08-18 05:28] johlju commented on #770
I labeled this "on hold" and await a possible resolution from Azure Automation Team (which can be a while).

[2017-08-18 05:34] johlju commented on #716
Azure Automation Team is tracking the long path issue, but it's probably gonna be a while before we see a resolution. With this, I don't want to do any changes to the resource module, but instead await what their resolution is first. So I will put this issue "on hold" for now.

They suggest this workaround as well.

* "As for workaround right now, customer can compile the configuration locally fir

[2017-08-18 05:40] johlju commented on #713
I will keep this issue open to track this problem, but I will label this as on hold for the time being since we can't do anything in the module to resolve this.

[2017-08-18 07:53] johlju commented on #649
I have tested this fix with both SQLPS and SQLServer and it seems it works.

This fix works in these tested scenarios:
* SQL Server 2016 with SQLPS module.
* SQL Server 2016 with SQLServer module.
* SQL Server 2014 with SQLPS module.
* SQL Server 2014 with SQLServer module
* Both SQL Server 2014 with SQLPS module
* Both SQL Server 2014 with SQLServer module

The problem I got above with SQL Server

[2017-08-18 08:03] johlju opened #772 "xSQLServerAlwaysOnAvailabilityGroup: Unable to create Availability Group on SQL Server 2014 when SqlServer module is present"
**Details of the scenario you tried and the problem that is occurring:**
When using the cmdlet New-SqlAvailabilityGroup, from the SqlServer PowerShell module, to create an availability group on SQL Server 2014, the command fails with the error.
The parameter `BasicAvailabilityGroup` is not used in the command. Even setting `BasicAvailabilityGroup` to $false generates this error.

Repro code:
[code

[2017-08-18 08:04] johlju commented on #772
I submitted an issue to SQL Server "Connect"-site [ew-SqlAvailabilityGroup in SqlServer module fails on SQL Server 2014](https://connect.microsoft.com/SQLServer/feedback/details/3139588).

[2017-08-18 08:14] johlju commented on #649
Submitted new issue #772 to track the problem creating Availability Groups using SqlServer PowerShell module in SQL Server 2014 SP2.

[2017-08-18 10:59] johlju opened #773 "xSQLServer: New Pester version released to PowerShell Gallery breaks tests"
The new Pester version used CmdLetBinding which results in that we are getting errors where we incorrectly used wrong parameters or made typos.

For example a lot of hits on this error

[code]

It's because Scope was used in the Mock command.
[code]

[2017-08-18 11:21] johlju opened #774 "xSQLServer: Problem running integration tests with fixes in issue #649"
**Details of the scenario you tried and the problem that is occurring:**
I got a problem when trying to send in a pull request for issue #649. The integration tests fail because in appveyor.yml we are removing all the SQLPS modules because they messed up the mocking of SMO (more information in issue #239). And the integration tests need SQLPS (or SqlServer) PowerShell module to runm with these fix

[2017-08-18 11:24] johlju commented on #774
Currently I'm looking at splitting up the Unit tests and Integration tests so they run in different build workers.

[2017-08-18 11:29] johlju commented on #649
Problem with integration test with these fixes. see issue #774.

[2017-08-18 13:54] johlju opened #775 "xSQLServerSetup: Unit test does a lot of verbose output"
**Details of the scenario you tried and the problem that is occurring:**
The unit test is outputting a lot of verbose messages. This is so it is possible to know which parameters differ.
But maybe we could change so that if the It-block fails, using `-ErrorVariable` like the integration test does, then we print the verbose output. That would lower the overall rows that AppVeyor need to process.

[

[2017-08-18 14:20] johlju commented on #774
Splitting on different build workers does work. But the test framework currently doesn't handle that, because it will send up an incomplete test result file (the last run only). And the code coverage listing in AppVeyor will not be accurate since it will not take in account the order test run.

I will look at another solution, which means I have to modify a PR I already sent in for making it possi

[2017-08-18 15:45] #763 closed

[2017-08-18 22:02] Dalmirog commented on #759
I ended up running this on another server, this time `Windows 2012`, and the same config worked. In this "new" VM I just installed SQL Express 2014 with tools from [Hanselman's post](https://www.hanselman.com/blog/DownloadSQLServerExpress.aspx).

So I went back to the 2016 VM were I initially ran the config (and failed), uninstalled everything related to SQL, and the installed SQL using the same M

[2017-08-19 07:03] #773 closed

[2017-08-19 09:01] johlju opened #778 "xSQLServer: Integration test should also run tests using SqlServer module"
**Details of the scenario you tried and the problem that is occurring:**
Integration tests should run tests using the SqlServer PowerShell module on top of testing using SQLPS PowerShell module.

This is relevant to issue #509 as well.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target No

[2017-08-19 09:26] johlju commented on #759
@Dalmirog Sorry for not answering before, I was a lot stuff going on this week. I read the output above and didn't see any problems so I thought this should work.
Could it be bad media (MSI) maybe?

Happy you got it working! :smile: We file this one under "strange". Closing this issue. If you see this problem again, please reopen the issue.

[2017-08-19 09:26] #759 closed

[2017-08-22 05:31] jachin84 commented on #2
+1

[2017-08-22 16:33] achern opened #779 "SqlSetup: fails if there are spaces in SourcePath"
I suspect the offending line is here where the robocopy argument list is constructed without quotes:

https://github.com/PowerShell/xSQLServer/blob/4734f6657ce8ad90b0d216a7cbc7ca8325dc8bba/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L1889

Somehow in my case this actually caused xSQLServerSetup to confusingly report that robocopy determined that all the files were already present.

[2017-08-24 10:25] johlju commented on #779
Thanks for reporting this!

[2017-08-24 14:21] achern opened #781 "xSQLServerSetup: Copied install files are not deleted from temp folder"
**Details of the scenario you tried and the problem that is occurring:**

After installing SQL Server, xSQLServerSetup does not clean up the install files that were copied from SourcePath, resulting in an extra 3GB of disk usage. Not a huge deal, but if there is an error in the DSC Configuration and the install fails, DSC will keep retrying and eventually exhaust the server's disk space.

**The DS

[2017-08-24 15:10] bozho opened #782 "BREAKING CHANGE: SqlDatabaseRole: Create database role and grant/deny permissions"
Hi,

I've been looking and I cannot find a resource to manage database roles and their permissions. xSQLServerDatabaseRole can only assign users to already existing roles.

Is there a resource to manage database roles and their permissions?

Thank you,
Marko

[2017-08-24 16:50] arcotek-ltd commented on #769
Well "Azure Automation Team" need to work faster. This is a problem.

[2017-08-24 16:52] johlju commented on #782
You are correct. xSQLServerDatabaseRole is lacking that functionality. xSQLServerDatabaseRole should use a similar schema as xSQLServerRole. `Ensure` should say if the group should exist or not, not if one user should be member or not.

[2017-08-24 17:01] johlju opened #783 "xSQLServerSetup: when installs fails a new folder is created and media is copied, until there are no more disk space"
From issue #781: "After installing SQL Server, xSQLServerSetup does not clean up the install files that were copied from SourcePath, resulting in an extra 3GB of disk usage. Not a huge deal, but if there is an error in the DSC Configuration and the install fails, DSC will keep retrying and eventually exhaust the server's disk space."

This probably happens when SourcePath is set to for example `'C

[2017-08-24 17:04] johlju commented on #781
I split this into two issue. This issue will track the deletion of the temp folder and the other issue #783 will track so that only one folder is created regardless of installation attempts.

Regarding deleting from the temp folder, I suggest adding a parameter to this resource that deletes the temp folder if the user wants that. Default will be to keep the temp folder intact. That will keep it fr

[2017-08-24 17:16] johlju commented on #769
@arcotek-ltd I feel you. I hope there is a better fix than we have to rework this module. Please see workarounds in issue https://github.com/PowerShell/xSQLServer/issues/716 in the meantime.

[2017-08-24 17:17] johlju commented on #771
Please see workarounds for this issue in issue #716.

[2017-08-24 17:17] johlju commented on #770
Please see workarounds for this issue in issue #716.

[2017-08-24 21:11] ChrisLGardner commented on #727
I think this can be closed now following the changes to DscResource.Tests rules. There is still an error about not using Write-Verbose in Get-TargetResource and Set-TargetResource which might need fixing but a few other resources in this module also mention that.

[2017-08-24 21:12] ChrisLGardner commented on #726
As with #727, these are fixed by the update to DscResource.Tests.

[2017-08-25 03:50] arcotek-ltd commented on #713
I'm having issues relating to DSC resources not showing up. In my case, it is a composite resource that calls xSQLServer resources.

After painstaking use of <# #> as soon as xSQLServerLogin is called, (which is the first xSQLServer resource) the composite resource goes missing.

I have already removed the (ridiculously named) `MSFT_xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership` as it was

[2017-08-25 09:03] arcotek-ltd commented on #713
As a post script, I tested the whole configuration in push mode on a test server, so having Azure throw a wobbly was most annoying to say the least.

[2017-08-25 18:20] johlju commented on #727
@ChrisLGardner The Write-Verbose PSSA warnings will probably be resolved as soon as the resource is localized which will replace helper function `New-VerboseMessage` to `Write-Verbose`. See xSQLServerSetup which is localized. That is why I didn't add that to the issue.

I will close this issue since this was false warnings generated by a bug in the common tests.

[2017-08-25 18:20] #727 closed

[2017-08-25 18:20] johlju commented on #726
I will close this issue since this was false warnings generated by a bug in the common tests.

[2017-08-25 18:20] #726 closed

[2017-08-25 19:26] johlju opened #784 "xSQLServerAlwaysOnAvailabilityGroup: Should use the correct major version SQLPS stubs for unit tests"
**Details of the scenario you tried and the problem that is occurring:**
When running unit test for xSQLServerAlwaysOnAvailabilityGroup it should use SQLPS stubs from SQL Server 2014 when major version is 12, and SQLPS stubs from SQL Server 2016 when major version is 13. This would actually test so parameters are not used that are not supported in older versions.

https://github.com/PowerShell/xSQ

[2017-08-25 19:29] johlju commented on #784
Maybe add a test helper function that loads the removes SQLPS stubs module and reloads the correct  SQLPS stubs module. Making sure the correct one is in the session, so it can be reused in other tests.

[2017-08-27 14:22] johlju opened #785 "xSQLServerSetup: Change the tests so they use TestCases instead of a foreach-loop"
**Details of the scenario you tried and the problem that is occurring:**
Maybe we should look into using TestCases, for testing each major SQL Server version, instead of using a for-each loop.

http://mikefrobbins.com/2016/12/09/loop-through-a-collection-of-items-with-the-pester-testcases-parameter-instead-of-using-a-foreach-loop/

**The DSC configuration that is using the resource (as detailed as

[2017-08-28 13:18] mdaniou opened #786 "xSQLServerAlwaysOnAvailabilityGroup : BasicAvailabilityGroup not compatible with sql 2016 Enterprise and Developper Editions"
**Details of the scenario you tried and the problem that is occurring:**

The availability group property BasicAvailabilityGroup is available on sql server 2016 or later on a Standard Edition only. If the parameter on this resource is set to True and that the sql instance is 2016 Enterprise or Developper, an error is raised and the availability is not created.

The resource should probably control

[2017-08-29 15:49] johlju commented on #772
We got this fixed in the upcoming release of SqlServer.

It's labeled as Resolved on the Connect-site: https://connect.microsoft.com/SQLServer/feedback/details/3139588/new-sqlavailabilitygroup-in-sqlserver-module-fails-on-sql-server-2014

And a comment from @Matteo-T about it in the comment section here; https://www.powershellgallery.com/packages/SqlServer/21.0.17152

Closing this issue since it h

[2017-08-29 15:49] #772 closed

[2017-08-29 16:36] johlju opened #787 "xSQLServerAlwaysOnAvailabilityGroup: Get-TargetResource returns a property Version that is missing in the schema.mof"
**Details of the scenario you tried and the problem that is occurring:**
The function `Get-TargetResource` returns a property `Version` that is missing in the schema.mof. It should be added as a read-only parameter.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

[2017-08-30 07:21] MagicMarty commented on #88
Hi,
Can anyone help me with the following? Getting the following with 8.1.0.0 module while. Any hints?

`VM has reported a failure when processing extension 'Microsoft.Powershell.DSC'. Error message: \"DSC Configuration 'Main' completed with error(s). Following are the first few: PowerShell DSC resource MSFT_xSQLServerSetup  failed to execute Set-TargetResource functionality with error message: Sy

[2017-08-30 07:42] MagicMarty opened #788 "SqlSetup: PowerShell DSC resource MSFT_xSQLServerSetup failed to execute Set-TargetResource functionality"
**Details of the scenario you tried and the problem that is occurring:**
Using 8.1.0.0, same on SQL server 2012, 2016

`VM has reported a failure when processing extension 'Microsoft.Powershell.DSC'. Error message: \"DSC Configuration 'Main' completed with error(s). Following are the first few: PowerShell DSC resource MSFT_xSQLServerSetup failed to execute Set-TargetResource functionality with err

[2017-08-30 07:48] johlju opened #789 "xSQLServerSetup: Error message is cryptic when Test-TargetResource returns false when called from Set-TargetResource"
**Details of the scenario you tried and the problem that is occurring:**

This error message is kind of cryptic for users not familiar with the code.

[code]

A more correct message could be:

[code]

**The DSC configuration that is using the resource (as detailed as possible):**
Any xSQLServerSetup that fail configuration (for example setup.exe returns with an error).

**Version of the Operating

[2017-08-30 08:03] johlju commented on #788
I looks like `Features` is commented.

[code]
Please change to
[code]

If that does not resolves it, then I'm uncertain of below.

[code]

I would have written it as
[code]

But both should work (unless there is a bug somewhere there). :)

The rest of the config looks okay to me. Let me know if any of this solves your issue.

[2017-08-30 08:22] MagicMarty commented on #788
Have tried with Features enabled, exactly the same.
Changed the paths to D:\ to double check, the same

[2017-08-30 13:18] johlju commented on #788
Can you please send the verbose output from Start-DscConfiguration?

Also, out of our offline discussion you are trying to use xSQLServerSetup to change values in an already present instance ('elasta'?). And you are seeing some values change, and some values does not change. I understood that you were trying to change the service accounts and paths in the already present instance 'elasta'? I inter

[2017-08-30 13:20] johlju commented on #788
For others reading this I forgot to add that xSQLServerSetup is not meant to be able to change those values. But since @MagicMarty, in our offline discussion, said he are seeing values actually change, I'm interested to see what values do change.

[2017-08-31 12:16] seizste opened #790 "xSQLServerRole: Returns an error when calling Get-DscConfiguration"
xSQLServerRole DscRessource returns an error when running Get-DscConfiguration

Get-DscConfiguration : GetConfiguration did not succeed.

Event Log give some more details

Message Unable to cast object of type 'System.String' to type 'System.Collections.IList'.
Parameter name: value

Implicitly casting Return Value to a String Array fixes this issue, but there's probably a better way to do this.

[2017-08-31 13:29] #721 closed

[2017-09-01 15:06] johlju commented on #790
Does this only happen when there is only one member in the group? If so, then `$membersInRole` is cast to a `[System.String]` instead of `[System.String[]]`.
Because the other two are already typed to arrays in the parameter declaration.

If so it should suffice to make sure this line always cast to a `[System.String[]]`.

https://github.com/PowerShell/xSQLServer/blob/375ead160420c2f9cb262609a8253

[2017-09-04 16:46] #720 closed

[2017-09-05 13:34] seizste commented on #790
Still get an error even if adding multiple Groups to MembersToInclude . Configuration is applied but Get-DscConfiguration fails with same error.

[2017-09-06 10:20] arcotek-ltd opened #792 "SqlLogin: Get-TargetResource "thinks" login exists, when it doesn't."
**Details of the scenario you tried and the problem that is occurring:**
Using xSQLServerLogin thus:
[code]
DSC reports the user is present:

[code]

But the user is not and if I run `Get-TargetResource`, it reports correctly that it is not present:
[code]

If I call your function `Connect-SQL` directly, you can see there are only two users:
[code]
The same result if I run `SELECT * from master.sy

[2017-09-06 18:48] randomnote1 opened #793 "xSQLServerAlwaysOnAvailabilityGroupReplica: AvailabilityGroupNotFound Incorrectly Formatted"
**Details of the scenario you tried and the problem that is occurring:**
The AvailabilityGroupNotFound error is incorrectly formatted in xSQLServerAlwaysOnAvailabilityGroupReplica. The following line is at fault:

https://github.com/PowerShell/xSQLServer/blob/3f6d99fd27ea3f5e2151c43f9806dc4252d1b696/DSCResources/MSFT_xSQLServerAlwaysOnAvailabilityGroupReplica/MSFT_xSQLServerAlwaysOnAvailabilityGro

[2017-09-07 05:28] ChrisRichner commented on #716
Any updates on this?

[2017-09-07 15:54] #790 closed

[2017-09-07 17:38] johlju commented on #792
Thanks for reporting this and thanks for the detailed error report! I see the logic is flawed in the function `Test-TargetResource`.

It never sets `$testPassed` to `$false` if `Get-TargetResource` does not return anything. Seems the unit tests didn't catch this one either.

https://github.com/PowerShell/xSQLServer/blob/63c2b526dacf41e3eac092cab8a88b57c2e0d36e/DSCResources/MSFT_xSQLServerLogin/MSF

[2017-09-08 06:17] johlju opened #796 "xSQLServer: Add a legend to the README.md explaining all the labels meaning."
**Details of the scenario you tried and the problem that is occurring:**
I think we should add a legend explaining what the labels on issues and PR's mean so it has the same meaning for everybody.
Maybe it's unclear what certain labels mean.

But maybe this one should be added in DscResources repo, and we referencing that here instead.

**The DSC configuration that is using the resource (as detail

[2017-09-11 17:19] randomnote1 commented on #333
I'm working on this one.

[2017-09-11 19:22] johlju opened #798 "xSQLServerSetup: Getting warnings when running integration test"
**Details of the scenario you tried and the problem that is occurring:**
When running the integration test for this resource I'm seeing a lot of warnings. After a quick search it seems to be because the AppVeyor build worker has the Azure SQL cmdlets installed.

https://social.technet.microsoft.com/Forums/ie/en-US/35b0bf59-b554-46f2-86cd-27e3773c6505/importmodule-sqlps-disablenamechecking-is-retur

[2017-09-11 20:07] johlju commented on #649
Removed the breaking change for this issue. If anyone feels it still should be a breaking change. Let me know.

[2017-09-11 22:32] twerthi opened #801 "xSqlServerMaxDop: Measure-Resource value of Property is not valid"
**Details of the scenario you tried and the problem that is occurring:**
Test section of xMaxDop is failing with: Error Message: Cannot process argument because the value of argument "Property" is not valid.

Researched module and found that Function Get-SqlDscDynamicMaxDop was causing the problem the two lines

    $numProcs = (Measure-Object -InputObject $cimInstanceProc -Property NumberOfLogica

[2017-09-11 22:40] twerthi commented on #801
I forgot to mention that this has been working as of two weeks ago.  I don't see any changes to the repository, which would lead one to conclude the problem is on my end :)  However, I didn't make any changes either :)

[2017-09-11 23:36] twerthi commented on #801
Submitted the fix.

[2017-09-12 10:58] randomnote1 commented on #477
@johlju, I'm going to take this and work on it.

[2017-09-12 12:21] randomnote1 commented on #477
Thanks for detailing the issue @johlju. I'm going to try and document why some of the supplied parameters are not included in the hashtable that is returned from Get-TargetResource.

- The parameters **PrimaryReplicaSQLServer** and **PrimaryReplicaSQLInstanceName** are not important in determining the current state of the Availability Replica. These are only required when creating or updating the

[2017-09-12 15:45] johlju commented on #801
Very strange that it did work, an now it doesn't. But I guess your changes as as good as the previous code, so doesn't hurt to change it if this is actually a problem with new build of some external thing.

[2017-09-12 15:54] #774 closed

[2017-09-12 15:54] #649 closed

[2017-09-12 15:54] #798 closed

[2017-09-12 16:01] #793 closed

[2017-09-12 16:21] twerthi commented on #801
I 100% agree with you on the strangeness, it didn’t make any sense since it was working before.

Shawn Sesna
DevOps Engineer

From: Johan Ljunggren [mailto:notifications@github.com]
Sent: Tuesday, September 12, 2017 8:58 AM
To: PowerShell/xSQLServer <xSQLServer@noreply.github.com>
Cc: Sesna, Shawn (DEL) <Shawn.Sesna@del.wa.gov>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/xSQLServe

[2017-09-12 16:21] johlju commented on #477
@randomnote1 depending on issue https://github.com/PowerShell/DscResources/issues/318 we should either add these properties to the hash table or leave it as is (except for the missing read properties that should be added).

Setting this as in progress for the time being.

[2017-09-12 17:33] randomnote1 commented on #446
I'm working this one

[2017-09-12 19:10] randomnote1 commented on #477
I'm ready to submit the PR for this. Just waiting on the decision!

[2017-09-12 19:21] johlju commented on #477
Please submit the PR. It's an approvement. I meant that we can start to enforce the rule once the issue in DscResources are "approved"/correct. :)

[2017-09-12 22:07] randomnote1 commented on #477
Gotcha. PR submitted.

[2017-09-13 05:13] johlju opened #804 "xSQLServerAlwaysOnService: When the resource fails to enable AlwaysOn it still restarts the SQL Server service"
**Details of the scenario you tried and the problem that is occurring:**
When the resource fails to enable AlwaysOn, for example the cmdlet `Enable-SqlAlwaysOn` fails with an error, then the resource still restarts the SQL Server service. This is because there are no error handling in the `Set-TargetResource` function.

https://github.com/PowerShell/xSQLServer/blob/1a2d2693ee5caf5760badc221b391802

[2017-09-13 10:21] GArionMSFT opened #805 "xSQLServerMaxDop: Fails on machines reporting 2+ CPUs"
## Scenario
Use a multi-CPU (e.g.: dual socket server) machine (you can try this with an Azure DS15_v2 VM in Azure), create a DSC config that uses xSqlServer and use xSQLServerMaxDop in Auto mode:

        xSQLServerMaxDop Set_SQLServerMaxDop_ToAuto
        {
            Ensure = 'Present'
            DynamicAlloc = $true
            SQLInstanceName = $SQLInstanceName
        }

**Version of the O

[2017-09-13 13:17] johlju opened #806 "xSQLServerAlwaysOnService: Loading wrong SQLPS when both SQL Server 2014 and SQL Server 2016 exists"
**Details of the scenario you tried and the problem that is occurring:**
Enable AlwaysOn fails to configure SQL Server 2016 when both SQL Server 2014 and SQL Server 2016 is installed and having SQLPS module installed for both major version.
The reason is that sometimes the wrong SQLPS module is loaded (because it is the first in the `$env:PATH` list).

[code]

**The DSC configuration that is using

[2017-09-13 13:30] johlju commented on #806
One workaround is to use the SqlServer PowerShell module.

[2017-09-13 14:48] johlju commented on #806
The integration tests might need a workaround for this as well. I added this code to the integration tests I am working on. But I revert back to make sure only on SQLPS module is available for the time being.

[code]

[2017-09-13 14:59] #477 closed

[2017-09-13 15:07] johlju opened #807 "xSQLServer: New version 4.0.7 of Pester will break unit tests"
**Details of the scenario you tried and the problem that is occurring:**
The new release of Pester, version 4.0.7 will break unit tests in this repository. Either we fix what breaks or we revert back to an older version. I really see we fix the breaking changes.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and P

[2017-09-13 15:13] nabrond commented on #801
A little late to this, but I curious whether you saw any additional errors logged around the call to `Get-CimInstance` in this resource? After reading through this issue and looking at the existing module's code, it sounds as if that call failed to return a valid object?

[2017-09-13 15:24] twerthi commented on #801
I did not.  The cimInstance object is a valid object, however it appeared to be a collection of processor objects.  The processor objects had the property the Measure-Object cmdlet was looking for, but the cimInstance did not.

Shawn Sesna
DevOps Engineer

[2017-09-13 15:31] twerthi commented on #805
Similar to issue 801, I have submitted a fix, it's in progress.

[2017-09-13 15:35] johlju commented on #805
@GArionMSFT When PR #802 is merged, then please test again (with the Dev version). I will add this issue to the PR so it will auto-close on merge. If the PR does not solve your problem, then feel free to reopen this issue.

[2017-09-13 15:39] #801 closed

[2017-09-13 15:39] #805 closed

[2017-09-13 16:12] johlju opened #808 "xSQLServerAlwaysOnService: Permission requirement need to be updated"
**Details of the scenario you tried and the problem that is occurring:**
When enabling AlwaysOn it is sufficient with local administrator permission. But the resource will fail if that account does not also have permission to read the IsHadrEnable property of the SQL Server (Database Engine) object.
It must also have the permission to read the IsClustered property.

Error:
[code]
_**Note:** This e

[2017-09-13 16:16] GArionMSFT opened #809 "xSQLServerSetup: Incorrect calculation logic for xSQLServerMaxDop"
**Details of the scenario you tried and the problem that is occurring:**
In the Get-SqlDscDynamicMaxDop function, the logic there seems to assume that numProcs is referring to the number of physical CPUs from the calculation that's being done, when in facts it counts "logical CPUs" - that is the number of processors that the OS reports ( equal to twice the number of cores in a HT environment):
[co

[2017-09-13 16:43] johlju commented on #446
Thanks @randomnote1! Labeled as in progress.

[2017-09-13 17:51] ld0614 opened #811 "SqlSetup: When running InstallFailoverCluster with BrowserSvcStartupType installation will fail"
**Details of the scenario you tried and the problem that is occurring:**
When running a cluster installation (InstallFailoverCluster) with the BrowserSvcStartupType set the installation will fail with the following message in summary.txt:
The setting 'BROWSERSVCSTARTUPTYPE' is not allowed when the value of setting 'ACTION' is 'InstallFailoverCluster'.

While it would be simple in most circumstance

[2017-09-13 17:52] johlju commented on #807
There is a bunch of unit tests that failed now with the new release of Pester.
https://ci.appveyor.com/project/PowerShell/xsqlserver/build/6.0.1578.0

[2017-09-13 18:30] johlju commented on #807
List of changes:
https://github.com/pester/Pester/releases/tag/4.0.7

[2017-09-13 20:10] MakwaWes opened #812 "SqlAG : Creating an AG fails"
**Details of the scenario you tried and the problem that is occurring:**
Deploying a new AOAG on a SQL Server 2016 fails with the following error :
`
PowerShell DSC resource MSFT_xSQLServerAlwaysOnAvailabilityGroup  failed to execute Set-TargetResource functionality with error message: Creating the availability group 'CustomAGName'. InnerException: Cannot bind parameter 'InputObject'. Cannot conve

[2017-09-14 08:38] #333 closed

[2017-09-15 09:20] 4c74356b41 opened #814 "xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership fails to create backup"
**Details of the scenario you tried and the problem that is occurring:**
I'm trying to create a sql server alwaysOn group with a database. The database gets added to alwaysOn group and after that it fails when trying to do restore (i'm using a local path to be sure the backup gets created properly, but it doesn't). I can switch to network path as soon as backup starts working.
**The DSC configurat

[2017-09-15 12:17] #736 closed

[2017-09-15 13:24] johlju commented on #811
Thanks for submitting this issue!

I would like opinions from the community on this one.

If we do this change, then we need to do all other variations as well. This would create a lot of logic for all kind of different setting options that are not permitted in all kind of different scenarios. That would become a lot of logic code and test code. If there would be logic for this, I would want to th

[2017-09-15 13:30] johlju commented on #812
Have you tried with Dev since I merged issue #649 (PR #800)? If not, please test with the latest Dev branch. If you are actually using the code as of today then this is interesting.

[2017-09-15 13:35] johlju commented on #814
Doesn't the restore need a UNC path to work? The other node which should restore would not know where to find it otherwise.
If you can test your config thru the GUI to make sure this do actually work (using local path)

@randomnote1 Can you be of any assistance here?

[2017-09-15 13:56] randomnote1 commented on #814
Hi @4c74356b41, thanks for the question!

Yes, the BackupPath must be accessible to all nodes that will contain a replica, so a UNC path would the correct way to do this.

It is also important to ensure the SQL Server Service Account has permission (read/write/delete) to the UNC path (NTFS and Share) to ensure it can create the backup, restore the backup, and delete the files when complete.

Quest

[2017-09-15 18:26] 4c74356b41 commented on #814
like i said, it doesnt create a backup, so it doesnt matter if it is a UNC path or not. there is nothing to restore.

[2017-09-15 18:43] randomnote1 commented on #814
Did you verify the SQL Server service has permissions to that directory? That's the one that is normally a gotcha for me.

[2017-09-15 18:45] 4c74356b41 commented on #814
yes, it was throwing another error when it had no permissions, so right now it breaks on restore step, when it had no permissions it was breaking on the backup step (the step previous to the restore, if you look at the code)

[2017-09-16 12:35] ld0614 commented on #811
Looking at the code itself it looks like the majority of the fields already have the conditional inclusion which I describe.  A good example is the cluster network name [here](https://github.com/PowerShell/xSQLServer/blob/1e6c8405a568e1ac46ca43f93f3574b8ef89efa4/DSCResources/MSFT_xSQLServerSetup/MSFT_xSQLServerSetup.psm1#L964) or the inclusion of analysis services [here](https://github.com/PowerSh

[2017-09-16 16:35] #706 closed

[2017-09-16 16:40] johlju opened #816 "xSQLServer: Add test helper functions for easier testing of localized error messages"
**Details of the scenario you tried and the problem that is occurring:**
I think we should add the common test helpers [here](https://github.com/PowerShell/xFailOverCluster/blob/dev/Tests/TestHelpers/CommonTestHelper.psm1) to this repository. And also change all unit tests that throws localized error messages should be changed to use these helper functions. That would be all the resource that has

[2017-09-17 11:11] johlju opened #817 "xSQLServerSetup: Integration test should call Test-DscConfiguration"
**Details of the scenario you tried and the problem that is occurring:**
The integration test does not call Test-DscConfiguration. We should validate that as well.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which versi

[2017-09-17 11:11] johlju opened #818 "xSQLServerAlwaysOnService: Integration test should call Test-DscConfiguration"
**Details of the scenario you tried and the problem that is occurring:**
The integration test does not call Test-DscConfiguration. We should validate that as well.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**What module (SqlServer or SQLPS) and which versi

[2017-09-18 16:09] MakwaWes commented on #812
Hi,
I tried using the latest Dev branch and have the same issue. I made sure the LCM is in the "ForceModuleimport" debug mode. I can also tell you that the listener resource is having the same issue where the InputObject isn't properly converted.

[2017-09-18 16:56] johlju opened #819 "xSQLServerRSConfig: Throws an error when two Reporting Services are installed for the same major version"
**Details of the scenario you tried and the problem that is occurring:**
When two or more Reporting Services are installed (with different instance names) then the Get-TargetResource will return all instances.

This is because the instance name is not filtered out. Namespace does not help here.

The following will return
[code]

will return

[code]

This is because Get-WmiObject is missing the fil

[2017-09-18 17:03] johlju opened #820 "xSQLServerRSConfig: Must be run as a local administrator when using PSDscRunAsCredential"
**Details of the scenario you tried and the problem that is occurring:**
When running xSQLServerRSConfig. The user set as `PSDscRunAsCredential` must have permission to run WMI queries.

**The DSC configuration that is using the resource (as detailed as possible):**
[code]

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
Windows Server 2016, SQL Serve

[2017-09-18 17:03] johlju commented on #820
We should update the documentation.

[2017-09-18 18:17] johlju opened #822 "xSQLServerRSConfig: Returns wrong value ($null) from Test-TargetResource"
**Details of the scenario you tried and the problem that is occurring:**
When Reporting Services are not initialized then function `Test-TargetResource` is returning `$null` instead of `$false`.

[code]

The code here should handle a `$null` value.

https://github.com/PowerShell/xSQLServer/blob/b2e553b2a2638fc88df1e815e4867f3733c7eed6/DSCResources/MSFT_xSQLServerRSConfig/MSFT_xSQLServerRSConfig.ps

[2017-09-18 18:33] TraGicCode opened #823 "xSqlServerSetup: Updating SqlSysAdminAccounts doesn't update sysadmins on server"
When i update the SqlSysAdminAccounts After installation they don't get updated.  Is this expected behavior or a bug?

[2017-09-18 18:39] johlju commented on #823
xSQLServerSetup does not change this. xSQLServerSetup resource only installs components, that is, it does only do things that setup.exe does.
To change group membership please try xSQLServerRole.

[2017-09-18 19:19] TraGicCode commented on #823
Thanks for clearing this up @johlju

[2017-09-19 06:35] johlju commented on #37
From discussions in different issues in this repository, the conclusion seems to have come to consensus (but not written in stone) that xSQLServerSetup will go against normal DSC resource praxis in the sense it will not enforce consistency of properties set during setup. xSQLServerSetup will only make sure that each component is installed. It will validate that the component is installed correctly

[2017-09-19 06:49] johlju commented on #823
Closing this seems it was solved for you. Reopen if it weren't.

[2017-09-19 06:49] #823 closed

[2017-09-19 07:43] johlju opened #824 "xSQLServer: Integration tests should use -ErrorAction Stop on Start-DscConfiguration"
**Details of the scenario you tried and the problem that is occurring:**
If `-ErrorAction Stop` is not used in integration tests for the cmdlet `Start-DscConfiguration` some errors does not throw resulting in passing tests (even if errors are logged).

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell t

[2017-09-19 11:45] ChrisLGardner commented on #761
I did some digging into this and it doesn't look like setup.exe can do it as expected. There is an alternate approach but that drops all other databases than the system ones so not really appropriate for this. I think this can be closed and I'll try to look at setting collation on individual databases in it's own resource or as a extension to another resource.

[2017-09-19 15:45] johlju commented on #761
As mentioned above. Please submit a new issue to extend the xSQLServerDatabase resource. Looking forward to a PR for xSQLServerDatabase that supports changing collation! 😄

Closing this issue since this was related to server collation, and it seemed it wasn't practical to change it.

[2017-09-19 16:01] JamesDLD opened #829 "SqlDatabase: Failed to set owner to an ADDS group"
Hello,

I can't figure out why I can't assign db_owner permission on an ADDS group to a database, adding below the configuration.
The strange behavior is that it's working perfectly when assigning the db_owner permission on an ADDS user.

1. Used version
- SQL Server version : 2016
- OS : Windows 2016
- xSQLServer version : 8.1.0.0

2.  Configuration

[code]

2.  Error
[code]

Thank you for your h

[2017-09-19 16:13] johlju commented on #829
Hmm. That's strange, since you can set a user. I have to test that.

[2017-09-19 19:26] randomnote1 commented on #137
I vote for 'xSQLServerAlwaysOnWaitForAvailabilityGroup'. This is more consistent with the rest of the resources.

[2017-09-19 19:33] #807 closed

[2017-09-19 19:39] randomnote1 commented on #253
I believe part of this is being addressed in issue #656.

[2017-09-19 19:42] nabrond commented on #253
Part of this was covered in issue #706. @Yvand managing service accounts was added through pull request #795. Not sure when it will be formally released, but you grab a copy of dev if you want to jump on this now.

[2017-09-19 20:12] dead8171 opened #831 "Cant Configure failover cluster by using DSC Config"
I was configuring FCI Cluster using DSC in azure, So I was doing this in azure via automation account I was refering to this article which I found in github https://github.com/PowerShell/xFailOverCluster/blob/dev/Examples/Resources/xCluster/3-CreateFailoverClusterWithTwoNodes.ps1

I modified the script slightly:-

Configuration Example
{

    Import-DscResource -ModuleName xFailOverCluster
    Imp

[2017-09-19 20:21] #831 closed

[2017-09-20 06:53] macmeaker opened #832 "xSQLServerSetup: Maintenance Plans"
Hi,

maybe there are some progress but I didn't find something about that:
Are there any plans to implement the support of maintenance plans in xSQLServer?

Thanks

[2017-09-20 07:33] sujitks opened #833 "xSqlServerSetup is missing after Importing the xSqlServer in the Azure Automation"
**I have imported xSqlServer dsc module to my azure automation account and it only shows 26 modules, xSqlServerSetup is missing along with the xWaitForAvailabilityGroup:**

**It is a simple dsc configuration based on your example to install the sql server**

**I am trying to import xSqlServer 8.1.0.0 from the powershell gallery, I have tried importing from the azure module gallery as well with no

[2017-09-20 08:36] #822 closed

[2017-09-20 08:37] #824 closed

[2017-09-20 09:00] Yvand commented on #253
Thank you!
I'll wait for this PR to be published in an official release and I'll test it.

[2017-09-20 10:26] #819 closed

[2017-09-20 11:53] randomnote1 commented on #812
That seems odd. The `New-SqlAvailabilityGroup` cmdlet accepts a server object for the InputObject parameter. [Example](https://docs.microsoft.com/en-us/powershell/module/sqlps/new-sqlavailabilitygroup?view=sqlserver-ps#examples)

Looking at the cmdlet in the SQLServer module, it looks like the functionality hasn't changed from SQLPS:

[code]

[2017-09-20 11:55] randomnote1 commented on #814
@4c74356b41, would you mind posting the error received during the restore when using a network path?

[2017-09-20 12:02] randomnote1 commented on #787
All read-only properties that are missing from the schema.mof:

- EndpointUrl
- EndpointPort
- SQLServerNetName
- Version

I'll fix this as soon as the current PR for this resource is finished.

[2017-09-20 12:31] randomnote1 commented on #787
This is a duplicate of #476

[2017-09-20 12:34] johlju commented on #592
Just sent in a PR for integration tests. When this issue is resloved an integration tests should be added to verify that the ReportServer and Reports site can be access without throwing http status code 503.

[2017-09-20 14:32] johlju opened #835 "xSQLServerServiceAccount: Parameter RestartService can only restart Database Engine service"
**Details of the scenario you tried and the problem that is occurring:**
The resource xSQLServerServiceAccount hwen used with parameter `RestartService` can only restart the Database Engine service. It is not possible to restart any other service it support changing the account for.
Also, it will always restart Database Engine when using parameter `RestartService` regardless if it was the Database

[2017-09-20 16:35] johlju opened #836 "xSQLServer: english strings must be added for all localized languages"
**Details of the scenario you tried and the problem that is occurring:**
When adding a localized string in English, it's not possible for the user to translate the strings to all localized languages.
To overcome this, with the way localization is built currently, then the strings must be added to all localized languages as English strings so they can be translated by another PR.

**The DSC configu

[2017-09-20 17:29] johlju commented on #832
No, but there is now. Labeling this a resource proposal.

[2017-09-20 17:31] johlju commented on #833
Duplicate of issue #713. Closing this issue.

[2017-09-20 17:31] #833 closed

[2017-09-20 19:05] 4c74356b41 commented on #814
well, i didn't try that, does it make sense, since no backup is being created? @randomnote1

[2017-09-20 19:12] johlju commented on #592
@bozho I run some test on the build worker for the integration tests - looking for a test to verify that the sites respond and I see around 20 seconds of lag before they respond. So if you see longer that you probably have a slower VM.

Working on this, to get the resource to restart the service.

[2017-09-21 06:21] johlju commented on #592
I added a helper function to restart reporting services that uses `Restart-Service` (similiar to `Restart-SqlService` helper function). But another option is to use the ManagedComputer class and the Service class.
I don't know if one of these is better than the other. It's much easier to write tests for the `Restart-Service` so went that direction - but do we loose something when not using the bel

[2017-09-21 10:43] johlju commented on #814
@4c74356b41 I'm sorry, I don't follow you. In comment above you said

It sounds like you was able to take backup, so that the backup of the database is present on the disk, and it's now failing on the restore step.
Do we misunderstand you?

[2017-09-21 11:07] 4c74356b41 commented on #814
yeah, sorry, it was failing to create a backup because it had no permission, when I gave it permission its is now failing on restore step and if you look at the error it says file not found, I've checked all the nodes (since the path is local), none of the nodes had the backup file on them. Looking at the code it doesnt look like the backup gets cleaned up, so... unless I'm missing something it do

[2017-09-21 12:57] randomnote1 commented on #814
That's correct, the restore will fail if it is looking for it on a local directory. There is no logic in the resource to copy the backups around.

The backup *must* be targeted to a UNC path. All of the SQL Servers must have permissions to the UNC path.

The backup files do get cleaned up after all restore attempts, successful or otherwise.
`Remove-Item -Path $databaseFullBackupFile, $databaseLogB

[2017-09-21 13:58] 4c74356b41 commented on #814
oh, my bad, let me try the unc path. @randomnote1

[2017-09-21 15:16] bozho commented on #592
@johlju Yes, ~20 seconds sounds ok. We've had some networking issues with our NAS storage for our VMs, so sometimes things would grind to a halt :)

[2017-09-21 16:14] #446 closed

[2017-09-21 16:18] johlju commented on #787
label this one as in progress

[2017-09-21 16:19] johlju commented on #476
Closing this one as this is being worked on by @randomnote1 in issue #787. Duplicate,

[2017-09-21 16:19] #476 closed

[2017-09-21 16:27] johlju commented on #812
It must be something with the wrong assembly being loaded.

@MakwaWes can you do this just to get a bit more information.

1. Could you run `Get-Module *sql* -ListAvailable` and post the result.
2. Could you post the configuration you are using? I'm in particular looking for what SQLServer resource you are using and the order they are used. I looking for if there is one that wrongly loads the asse

[2017-09-21 16:44] johlju commented on #253
There is a community call on the 27:th (see [agenda](https://github.com/PowerShell/DscResources/blob/master/CommunityCalls/2017-09-27/agenda.md)). Release is normally schedule within two weeks from that (but can differ). Usually the release date is announced during the community call.

Closing this as this (the missing functionality) is being tracked in other issues.

[2017-09-21 16:44] #253 closed

[2017-09-21 16:59] 4c74356b41 commented on #814
ok, definitely got further this time:

[code]

Any ideas? Only got 2 nodes. @randomnote1 @johlju

[2017-09-21 17:34] randomnote1 commented on #814
Did the database get added to the availability group?

I wonder if the file was in the process being scanned or something like that. It's difficult to say why this might be the case without analyzing the file using something like process explorer.

[2017-09-21 18:26] #787 closed

[2017-09-21 20:20] gdbarron commented on #88
@MagicMarty From what I've seen, this typically means the setup finished, but not successfully.  Have a look at the sql install log which can found at a path similar to "C:\Program Files\Microsoft SQL Server\130\Setup Bootstrap\Log\Summary.txt".  (this one is for sql 2016)

[2017-09-21 20:47] gdbarron opened #841 "SqlServerEndpointPermission: What permissions are needed, logon local right required?"
**Details of the scenario you tried and the problem that is occurring:**
I'm trying to permission an endpoint created with the resource and trying to understand what permissions are needed to make this happen.  If for PsDscRunAsCredential I use a domain account with local admin and sa rights this works.  If I use a **service account** which has those same rights, but is not allowed to logon locall

[2017-09-21 22:14] randomnote1 commented on #630
Working this one next.

[2017-09-22 04:58] #592 closed

[2017-09-22 07:06] #753 closed

[2017-09-22 13:29] 4c74356b41 commented on #814
So, this was a combination of me misreading the code (I missed the part where backup gets deleted) and trying to use a local path (to see if a backup will get created). I'm not sure why it errored out with file is locked (that happened only once).

[2017-09-22 13:29] #814 closed

[2017-09-22 13:58] randomnote1 commented on #814
Good deal! Glad you got it worked out.

Is there something that we could put in the resource that would of helped point you toward using the UNC path rather than the local path?

[2017-09-22 14:08] 4c74356b41 commented on #814
I knew i had to use unc path, but i didn't want to do it because i wanted to test if it will even create the backup @randomnote1 and that dragged me on the wrong track

[2017-09-22 14:24] 4c74356b41 opened #843 "SqlServiceAccount: works but sql is unusable due to "sql cannot generate sspi context""
**Details of the scenario you tried and the problem that is occurring:**
Trying to automate AlwaysOn on Azure. I'm using SQLIaaSExtension. That extension changes the SQL service account to "NT SERVICE\MSSQLServer", but AlwaysOn doesn't work with local accounts (or maybe I'm missing something?) so I have to change this to the domain account, after which I'm unable to connect to remote sql instances

[2017-09-22 14:59] randomnote1 commented on #814
Ok, that makes sense. Thanks!

[2017-09-22 15:20] johlju commented on #843
Setting SPN’s could be delegated to the service account (in AD), but the domain admin have this permission already. So does this problem occur because the SPN’s are already set?
From where did you remove the SPN’s?
Maybe the resource need to remove the SPN’s.

In the original issue for the resource proposal, there was an old resource that had the functionality. I mentioned it in this comment so ma

[2017-09-22 15:30] 4c74356b41 commented on #843
I'm honestly not a SQL person, so I'm not the best person to ask\have an opinion on these things.

I've removed these:
[code]

so I cannot use AlwaysOn with local accounts, right? @johlju

[2017-09-22 16:16] 4c74356b41 commented on #843
I wonder if I can just use Powershell DSC Service resource to set the sql service account? @johlju

[2017-09-22 16:22] ld0614 commented on #716
@johlju Thanks for the workarounds.  It might be worth mentioning deleting the Tests folder in your instructions as I found that that some of those also tripped the 260 limit.

[2017-09-22 16:35] johlju commented on #843
From what account did you remove the SPNs?

I honestly don’t know if it’s possible to run AlwaysOn using local accounts. I haven’t tried :)

This resource changes the account thru the SQL SMO object model which isn’t the same as changing the account using Service resource.
You could try changing the service account with the Service resource to see if it makes a difference.

[2017-09-22 16:39] johlju commented on #843
You need to use domain accounts - if using non-domain accounts then certificates must be used.

https://docs.microsoft.com/en-us/sql/database-engine/database-mirroring/set-up-login-accounts-database-mirroring-always-on-availability

[2017-09-22 16:47] 4c74356b41 commented on #843
'From what account did you remove the SPNs?' - I used the same domain account, but I did it manually with `setspn -d`

[2017-09-22 17:59] randomnote1 commented on #468
Starting on this one.

[2017-09-22 18:01] johlju commented on #841
The service account needs to have permission in the Database Engine, on the endpoint, to be able to set permission. What permission does the service account have in the Database Engine?

[2017-09-22 18:10] johlju commented on #843
Is this the steps you took? Do I understand this correctly?

1. The extension changes the SQL service account to "NT SERVICE\MSSQLServer"
2. You change to a domain account. At this time you can't connect remotely and get the error in the issue title.
3. You work around that by removing server SPN's for the domain account in step 2, and restarting SQL and waiting for a bit. Now you can connect remo

[2017-09-22 18:22] #630 closed

[2017-09-22 18:25] johlju commented on #468
@randomnote1 Great! Labeled it as in progress.

[2017-09-22 18:40] johlju opened #844 "xSQLServerRSConfig: Add examples for the new parameters in this resource"
**Details of the scenario you tried and the problem that is occurring:**
This resource should have examples updated to reflect the new parameters in this resource (that was merged with PR #638).

These should also be added to the integration tests.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the

[2017-09-22 18:41] johlju commented on #844
@bozho Do you have any examples you can PR in?

[2017-09-22 18:55] randomnote1 commented on #468
Notes for myself:

Test the following scenarios for the supplied SQLServer parameter, availability group replica names, and database mirroring endpoints.
- NetBIOS name (short name)
- FQDN
- IP Address

[2017-09-22 18:59] #570 closed

[2017-09-22 19:33] 4c74356b41 commented on #843
I'm still trying to make it work, but my current approach is this:

1. Install extension.
2. Start DSC, which contains script step that does this:
[code]
3. Next step in DSC configuration (after script step) is xSQLServerServiceAccount, which changes service account to domain account
4. Everything else works (but I'm still testing this).

@johlju

[2017-09-23 07:06] johlju commented on #202
This was merged in PR #575. Closing this issue. If there is still a problem, then please feel free to reopen this issue.

[2017-09-23 07:06] #202 closed

[2017-09-23 07:20] johlju commented on #716
@ld0614 Thanks for finding that and reporting it here! Updated the workarounds with that information. Thank you!

[2017-09-25 09:59] bozho commented on #844
Yeah, I can whip something up

[2017-09-25 10:21] bozho opened #845 "SqlDatabase: Enable snapshot isolation"
Hi,

Would there be interest for improving/expanding xSQLServerDatabase, xSQLServerDatabasePermission and xSQLServerDatabaseRole resources?

We currently have a need for the following functionality, which we've covered with custom resources:

- enable snapshot isolation on a DB
- ~~create roles on a DB~~ Related moved to issue #846 and #847
- ~~assign permissions to roles~~ Related moved to issue

[2017-09-25 12:14] johlju commented on #845
Could you please split this issue into at least one per resource? It will be easier to comment then. Thanks. :smile:

[2017-09-25 12:20] johlju commented on #844
Awesome. Thank you.

[2017-09-25 14:24] bozho opened #846 "SqlDatabaseUser: New resource"
xSQLServerDatabaseRole currently handles DB user creation and role assignment (for already existing roles)

The name is a bit confusing, since the name implies the resource actually handles DB roles creation/removal.

I suggest we rename xSQLServerDatabaseRole to XSQLServerDatabaseUser.

The new resource xSQLServerDatabaseRole would then handle DB roles.

[2017-09-25 14:26] bozho opened #847 "BREAKING CHANGE: SqlDatabaseRole: Should only handle database roles and not create database users"
xSQLServerDatabaseRole resource currently creates a DB user for an SQL login and assigns already existing roles to the user.

The related issue (#846) proposes renaming the resource to xSQLServerDatabaseUser.

We should then implement a new resource xSQLServerDatabaseRole, used to handle DB roles.

[2017-09-25 14:29] bozho opened #848 "BREAKING CHANGE: SqlDatabasePermission: Remove database user creation, and add assigning permission to roles"
xSQLServerDatabasePermission can currently only assign DB permissions to DB users. It will also create a DB user if it doesn't already exist.

In order to simplify the resource and enable further enhancements (e.g. assigning permissions to roles), I suggest that DB user creation/removal is only handled in xSQLServerDatabaseUser (issue #846) and that xSQLServerDatabasePermission is altered to only

[2017-09-25 14:30] bozho commented on #845
Done: issues #846, #847 and #848

[2017-09-25 14:38] bozho commented on #844
Would you like separate examples, or would one with all four new options do?

[2017-09-25 15:47] randomnote1 commented on #468
@johlju, as I look more into this, I am realizing I over-thought this when I created the resource. The **Name** property of this resource can be dropped. The availability group replica will be created dynamically using the supplied **SQLServer** and **SQLInstanceName** properties.

This will allow the processing of the FQDN, IP Address, or NetBIOS name to be handled by the **Connect-SQL** function

[2017-09-25 16:18] ChrisLGardner opened #849 "xSQLServerDatabase: Get-TargetResource tests aren't giving accurate results due to scoping."
**Details of the scenario you tried and the problem that is occurring:**

The tests for Get-TargetResource are providing inaccurate results as the second It block in each Context is effectively doing `$null | Should Be $null` due to the variables being scoped in a different It block.

**Version of the DSC module you're using, or 'dev' if you're using current dev branch:**

Dev.

I'm working on som

[2017-09-25 18:54] MakwaWes commented on #812
I had to progress in my work so I removed the module "SqlServer" from the machine and it's working flawlessly since. Unfortunately, I can't answer completely your questions but I'll try.
1. Here's the modules installed locally on the server :
[code]
It used to also have the module "SqlServer" v21.0.17152 before I removed it.

2. I can't give you my config data but here's the order in which I call

[2017-09-26 12:43] johlju commented on #845
Are we tracking the snapshot isolation on a database in this issue? Could you please change the title and issue description on this issue to reflect that?

I'm all for adding this functionality. Could you please propose a schema.mof with the changes needed for handle the isolation?

[2017-09-26 12:51] johlju commented on #846
I agree to rename this resource, and change so that this resource only handles creation and dropping of database user.

This must be merged at the same time (or close to the same time) as the issue #847 is merged.

[2017-09-26 12:57] johlju commented on #846
Practically, to be able to create a PR for this issue and issue *#847, I think this would be best to not rename this resource but instead, if it helps, copy the code from the xSQLServerDatabaseRole to the new resource xSQLServerDatabaseUser and change the code there. This will make it possible to change to xSQLServerDatabaseRole without merge conflicts.

[2017-09-26 13:01] johlju commented on #847
I changed the title on this issue to better reflect the change that should be done. Correct me if I'm wrong.
Also see issue #846.

I suggest we change this resource to use the same/similar schema.mof as xSQLServerRole.

[2017-09-26 14:36] johlju commented on #847
@bozho Could you propose a schema.mof for this as well?

[2017-09-26 14:38] johlju commented on #848
I agree to this. This will be a breaking change. This change should be merged once issue #846 is merged.

[2017-09-26 14:43] johlju commented on #848
@bozho Does the schema.mof need to change for this? Can you propose a schema.mof?

[2017-09-26 15:10] randomnote1 commented on #784
@johlju, do any of the other modules switch the stubs that are used based on the version of SQL being used?

[2017-09-26 15:11] johlju commented on #844
One with all four options will do. Just explain them in the comment-based help.

[2017-09-26 15:26] johlju commented on #784
You mean the other resources in this module? No, but I think they should.
Reason for that I added this issue toward this resource is that it will be harder to integration test AG resources, so the unit tests need to handle more. But all resources using SQLPS I think should run unit tests against each version of stub file.

We should also have another stub file for SqlServer module as well.
Then we

[2017-09-26 15:38] johlju commented on #784
Yes. And I suggest you use the same path and filename as here.

https://github.com/PowerShell/xFailOverCluster/blob/dev/Tests/TestHelpers/CommonTestHelper.psm1

The helper functions in this should be moved over here later as well (another issue), but then we have the file already present to add the helper functions to. :)

[2017-09-26 16:12] randomnote1 commented on #784
Suggested function name: Import-SQLModuleStub

[2017-09-26 16:20] johlju commented on #849
Thanks for finding this.

Instead of moving it outside the It-block, add another `$result = Get-TargetResource @testParameters` to the second It-block. That is how it is done in other resources, and should be done here as well.

You decide if you can do this change in the same PR as another change, or in a separate PR. Either works for me.

[2017-09-26 16:21] johlju commented on #849
@ChrisLGardner I label this as in progress since you could resolve this.

[2017-09-26 17:52] ChrisLGardner commented on #849
That's what I've done.

I'll include it in the PR for adding the collation. Just working out the last few (obvious) bugs now and I'll hopefully have it in for review some time this week.

[2017-09-26 18:10] randomnote1 commented on #784
Ok, working this into my updates for issue #468.

[2017-09-26 19:57] johlju commented on #849
Awesome! looking forward to it! 😄

[2017-09-27 03:26] Matticusau commented on #716
I came across this last week as it was breaking a Composite Resource I was trying to compile (that took some digging to find this as the cause).
It doesn't affect all resources, so it's a challenging one.

I just wanted to confirm that the work around of compiling locally and manually uploading the MOF worked in my case. I think that is a more appropriate method than creating a custom copy of the

[2017-09-27 12:37] GamerLivingWill commented on #716
I'm actually keeping an eye on this as it's affecting me as well.  Compiling and uploading MOFs doesn't work for me as sometimes for customers, I'm actually compiling MOFs at runtime for the environment build.  This is actually super inconvenient in either case.

[2017-09-27 13:03] shurick81 commented on #716
By the way, just for information, I have never experienced this issue with Set-AzureRmVmDscExtension command. It compiles and applies SQL resources like a charm.

[2017-09-27 15:54] randomnote1 commented on #517
"Accidentally" started fixing this for xSQLServerAlwaysOnAvailabilityGroup while working issue #468.

[2017-09-27 16:37] johlju commented on #716
I talked with @mgreenegit at Ignite yesterday. When the problem with long path is resolved in Azure Automation this module should work without changing the resources (or any files). There is currently no timeline when this gets resolved, but knowing that they know what the problem is, feels like a good step forward.

In light of that, I remove the workarounds for changing this resource and the wor

[2017-09-27 16:42] johlju commented on #713
@DdenBraver I talked with @mgreenegit at Ignite yesterday. They found the issue that causes this behavior. It had something to do with the Credentials parameters (if remembered correctly). There is currently no timeline when this gets resolved.  But this should not stop the module to be deployed to the target nodes. The entire module is there, it just not showing it, if i understood correctly.

@a

[2017-09-27 16:44] johlju commented on #771
Closing this as per comment https://github.com/PowerShell/xSQLServer/issues/716#issuecomment-332581352

We should need to change the resource. Tracking this problem in issue #716.

[2017-09-27 16:44] #771 closed

[2017-09-27 16:45] johlju commented on #770
Closing this as per comment https://github.com/PowerShell/xSQLServer/issues/716#issuecomment-332581352

We should need to change the resource. Tracking this problem in issue #716.

[2017-09-27 16:45] #770 closed

[2017-09-27 16:46] johlju commented on #769
Closing this as per comment https://github.com/PowerShell/xSQLServer/issues/716#issuecomment-332581352

We should need to change the resource. Tracking this problem in issue #716.

[2017-09-27 16:46] #769 closed

[2017-09-27 16:57] ld0614 commented on #716
Hi @johlju

While compiling locally may work in most contexts I'm grabbing credentials directly out of the automation account at compile time which I believe would either expose the passwords in plane text or render the credentials unreaderble if compiled locally.  While I personally think renaming the affected resource is the best option I understand that its probably a lot of work and would be a

[2017-09-27 16:57] DdenBraver commented on #713
Thanks for the update @johlju. The biggest problem I currently have with this issue, is that since its not showing up I cannot let Azure Automation compile the configuration.
We have a temporary work-around where we compile the configurations locally to get this fixed, but this breaks some parts of our automation for DSC during server deployment.

[2017-09-27 17:14] johlju commented on #716
The workarounds are still there, I just strike-through them since that will not be the path we should go. If there is any new development in this issue that will set a hard limit, then we can look at renaming resources again. But for now, we should not workaround a bug in Azure Automation.
If it is the consensus of the community to use a new naming standard I'm open for that, but I think that's a

[2017-09-27 17:39] johlju commented on #713
@DdenBraver Could you please write about the problems you in issue #716, if it is relevant, so we track those issues in the same place?

[2017-09-27 17:41] johlju commented on #713
@DdenBraver I mean about that parts that breaks the automation when you compile locally.

[2017-09-27 17:47] johlju commented on #517
Great @randomnote1! Labeling this as in progress.

[2017-09-27 17:50] johlju commented on #784
Awesome! Function name works for me.

[2017-09-27 20:11] Zuldan commented on #517
@randomnote1 fantastic news! :-)

[2017-09-28 08:35] DdenBraver commented on #713
@johlju Sorry, I may have typed that a bit unclear.
We have a setup that will use a runbook to compile the dsc resources on the fly for a server after a server was deployed in Azure. This runbook will initiate a compile of the DSC configuration in Azure Automation, which currently does not work, as described in #716.

Hence "our" automation breaks. The current work around is that we manually compi

[2017-09-28 11:20] randomnote1 commented on #137
In light of the resource name length issue presented in in issue #716 , I think we should resume discussion and expand upon this issue.

A common theme I've been reading in the issues is that the names of the resources in the xSQLServer module are too long. Even if they worked with Azure Automation, they are considered to be too long. With that said, some of the names are extremely long due to the

[2017-09-28 13:47] johlju commented on #137
@randomnote1 Thanks for bringing the issue of naming convention up, and coming with a good suggestion. Could you please move this to a separate issue for naming convention?
Then this issue will be obsolete it we move ahead with changing the naming convention.

[2017-09-28 13:57] randomnote1 opened #851 "xSQLServer: Resource Naming Conventions"
A common theme I've been reading in the issues is that the names of the resources in the xSQLServer module are too long. Even if they worked with Azure Automation, they are considered to be too long. With that said, some of the names are extremely long due to the naming conventions that have been adopted (eg. xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership).

The basic format of the naming c

[2017-09-28 13:58] randomnote1 commented on #137
Created issue #851 to track this.

[2017-10-03 09:31] JamesDLD commented on #829
Hello @johlju
did you get the time to test that?
Thanks,
James

[2017-10-04 07:16] dead8171 commented on #664
I cant find the xSQLServerSetup

[2017-10-04 07:59] dead8171 commented on #713
Am Facing the same issue, please tell me how can I compile a .mof file and install that onto the server, I heard that DSC extension needs to be installed onto the machine but tell me how can I generate the mof file, as I have the script that installs the sql server setup, but havent tested that yet.

[2017-10-04 10:12] DdenBraver commented on #713
@dead8171 You would have to compile the dsc configuration locally.
Documentation for this can be found here: https://docs.microsoft.com/en-us/powershell/dsc/configurations

After you have the compiled 'configuration' and have a 'nodename.mof' file, you can upload them to Azure Automation by doing the following:
- go to your Azure Automation Account
- Select 'DSC Node Configurations' under 'Configu

[2017-10-04 21:21] NikCharlebois opened #855 "xSQLServerNetwork: TcpDynamicPorts parameter is using blank string instead of being a System.Boolean"
Question: why is the TCPDynamicPorts parameter defined in the following way:

[Parameter()]
[ValidateSet('0', '')]
[System.String]
$TcpDynamicPorts,

Why set this as a string instead of a Boolean? Thanks

[2017-10-04 21:59] randomnote1 commented on #855
I imagine because zero (0) indicates dynamic ports are in use, and an empty string indicates a static port is in use when configuring this in SQL Configuration Manager.

Reference: [Configure a Server to Listen on a Specific TCP Port](https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/configure-a-server-to-listen-on-a-specific-tcp-port)

I think your point is valid though. It w

[2017-10-05 13:24] johlju commented on #855
When this resource was used to

[2017-10-05 13:29] johlju commented on #534
Should the parameter `TcpDynamicPorts` be renamed to `TcpDynamicPort` (singular) since we do a breaking change regardless?

[2017-10-05 13:32] johlju commented on #855
When tests was created for this resource it was determined that it did not handle setting back to a static port. To resolve that at that time, without making a breaking, the `''` was added and issue #534 was opened, which agrees this should be a `System.Boolean`.

@NikCharlebois If you like to help resolve this, please let me know in the other issue, and I lable that issue as in progress. Closing

[2017-10-05 13:32] #855 closed

[2017-10-08 10:18] #767 closed

[2017-10-08 10:18] #849 closed

[2017-10-08 13:07] johlju opened #858 "xSQLServerSetup: Use SQL Server 2017 for integration tests"
**Details of the scenario you tried and the problem that is occurring:**
Today SQL Server 2016 is used to run integration tests. We should look at using SQL Server 2017 instead. Or, we could use SQL Server 2017 together with SQL Server 2016 to run integration tests for more that one major version.

I can't find the CDN link to download the .iso for Trial or Developer edition. Neither in the downlo

[2017-10-08 13:08] johlju commented on #858
Anyone knows the CDN link to the .iso for SQL Server 2017 Trial or Developer edition?

[2017-10-08 13:40] johlju commented on #308
One thought with the instance parameter name `SQLInstancename` is that it feel strange if I would to install an Analysis Service or Reporting Service. The name `InstanceName` would be more natural then.

[2017-10-08 13:41] johlju commented on #308
If we do a breaking change in issue #851 then it would be good if we also resolved this one?

[2017-10-08 14:01] johlju commented on #851
If someone else has an opinion on this, then please share.

Me personally think @randomnote1's suggestion is all positive. The only minor negative is that 'SQL' does not accurately describe the SQL Server product, but could be any other SQL product, potentially colliding/conflicting with that products name. But most likely both those products are not installed on the same target node, so conflict

[2017-10-08 14:02] johlju commented on #851
@randomnote1 I think the example 'SQLAlwaysOnDatabaseMembership' is wrong? Shouldn't be 'SQLAvailabilityGroupDatabaseMembership'? Maybe it could even be shortened to 'SQLAvailabilityGroupDatabase'?

Would you mind adding a list of current name and new name to your issue description (or new comment)?

[2017-10-08 14:30] johlju commented on #462
I think these examples should be implemented as configurations using the templates from the repository [DscConfigurations](https://github.com/PowerShell/DscConfigurations) instead. Then they are able to be integration tested by the users themselves with an already finished framework for production ready configurations. The configurations should be able to be linked to that DscConfigurations reposi

[2017-10-08 15:17] johlju commented on #717
Closing this and tracking this in issue #462.

[2017-10-08 15:17] #717 closed

[2017-10-08 21:26] randomnote1 commented on #851
@johlju, you are completely correct! Fixed my example above. I'll work on building out a table translating current resource names to proposed resource names.

I thought about that with "competing" SQL products, however others tend not to have "SQL" in the name except for MySQL. Though, in that example, I would expect the DSC module would start with "MySQL".

[2017-10-08 21:52] randomnote1 commented on #308
It would seem reasonable that if we have that large of a breaking change that this would be a relatively small portion of that change.

My vote is for `InstanceName`.

[2017-10-09 11:15] johlju commented on #851
Thanks for adding the list of resource and also making notes on them! Awesome!

In regards of your suggestion to skip 'x' from the resource names. I did talk with @mgreenegit at MSIgnite and he suggested to skip the 'x' when I mentioned a new resource was in the pipe (xSQLServerDefaultLocation). He also had a thought, emphasis on thought (might not happen in this way), that maybe there could be a

[2017-10-09 11:55] randomnote1 commented on #851
This is good stuff! I read through the PR for updating the naming guidance. I think dropping the "x" on the resource name is an excellent idea so we can seamlessly move resources from dev to experimental and then eventually supported.

I think the guidance for working around the conflicts of using same resource names in all of the branches would look something like this:

[code]

Once the conversa

[2017-10-09 15:53] johlju commented on #308
Any votes for the name of the parameter for the host name?

For the host name parameter, I personally don't think host name parameter name `SQLServer` is optimal for the same reason I stated above about the `SQLInstanceName` parameter name.

Options (please add more options if there are any):
* SQLServer (most used by resource today)
* SQLServerName
* NodeName
* ServerName
* ComputerName (normally

[2017-10-09 16:16] randomnote1 commented on #308
I tend to like HostName because of connecting to Failover Cluster Instances. However, NodeName seems to line up better with the DSC configurations defining nodes. I'm with @johlju  on this one, I could go with ServerName, NodeName, or HostName.

I'm wondering if the host name parameter is even needed since the node configuration already knows which host the instance is on. The only exception is wh

[2017-10-09 18:31] #468 closed

[2017-10-09 18:31] #784 closed

[2017-10-10 07:06] johlju commented on #308
I could go with NodeName. I started using that when I created resource when I started out with DSC because it was a term used by DSC. But I tend to like ServerName because I think that is how you think of it from an SQL perspective, I do like HostName also, because it's a term used with DNS.
I can go with either. Regardless which is chosen, any is better than 'SQLServer'. 😄

I think host names is

[2017-10-10 12:26] randomnote1 commented on #319
After thinking about this extensively, I believe the "SQLServer" parameter can be dropped completely.

To connect to the SQL instance (clustered or standalone), the instance name can be looked up in the registry. Doing this will allow Connect-SQL to dynamically detect the hostname. It is impossible to have more than one instance per node with the same instance name (I tested to double-check).

Whe

[2017-10-10 13:26] randomnote1 commented on #786
Good catch!

I see two options for controlling this:

1. The resource will write a warning and "drop" the requirement for the basic availability group when standard edition is detected.
2. The resource will throw an error when `BasicAvailabilityGroup = $true` and the edition is NOT Standard.

Personally, I'm leaning toward option 1.

Thoughts?

[2017-10-10 13:47] randomnote1 opened #859 "xSQLServer: Resources Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the SQL Instance is an FCI and the configuration is pushed to every node of the FCI, each of the resources that reach into the Instance execute multiple times per "cycle".

For example, if I have a 2-node FCI and have xSQLServerMemory defined, both nodes will reach into the instance and set the memory regardless if it is

[2017-10-10 14:49] nabrond commented on #534
@johlju I will take a stab at updating this resource.

[2017-10-10 16:33] johlju commented on #534
Awesome! Labeling it as in progress. Thanks! 😄

[2017-10-10 16:44] johlju commented on #859
Could you please split this issue up for each resource so it's easier to close issues. I can create a project to track this as group if necessary.
When you split each resource into a separate issue, please provide context how this is a problem per resource.

For xSQLServerMemory, I only see this happening if the resource are used on all nodes with dynamic allocation. If this was used with fixed si

[2017-10-10 16:51] johlju commented on #786
I rather that option 2 happens, since that is what actually happens when trying to use that configuration outside of DSC. I think we should throw an error so that the user can correct the configuration, rather than allowing a "half working" configuration. My opinion.

[2017-10-10 17:43] randomnote1 commented on #786
Should we bother putting any extra error handling around this? It seems that SQL handles it by itself.

@mdaniou, was the error output clear enough to determine what the issue was quickly?

[2017-10-11 05:15] achern opened #860 "xSQLServerRSConfig: Does not work when reporting database machine is renamed"
**Details of the scenario you tried and the problem that is occurring:**

I am trying to use xSQLServerRSConfig to set SSRS's database connection after the machine with the reporting database has been renamed. There are two problems:

1) xSQLServerRSConfig is running the database creation scripts even though the database is already created, resulting in errors when trying to recreate it. This is b

[2017-10-11 10:39] johlju commented on #860
Do I understand your the scenario correctly.

1. You configured Reporting Services on the first server with computer name 'A', and Reporting Services databases on a second server with the computer name 'B'. The configuration finished successfully and Reporting Services was working.
2. You renamed the computer name from 'B' to 'Y'.
3. You re-ran the same configuration with the exception of changing

[2017-10-11 15:02] johlju commented on #786
Only reason to put extra error handling on this would be to fail faster. Otherwise the error is probably only viewed in the bootstrap log and the setup fails? It's gonna be interesting what @mdaniou says about how the error message looked like.

[2017-10-12 06:02] achern commented on #860
Yes, that is pretty much the scenario, except 'A' and 'B' are actually the same computer in my environment. That is, the reporting DB and Reporting Services are both on the same computer.

After some further experimentation, it seems that in the case of a rename, all that needs to be done to fix the settings is to call SetDatabaseConnection() with the new name on the MSReportServer_ConfigurationSe

[2017-10-12 06:36] achern opened #861 "xSQLServerFirewall: SourceCredential for SourcePath not used"
xSQLServerFirewall doesn't pass SourceCredential when it calls Get-TargetResource, so it can't access the setup executable:

https://github.com/PowerShell/xSQLServer/blob/1bbdecaf5f75245c2b16e698579b28bf90bcc240/DSCResources/MSFT_xSQLServerFirewall/MSFT_xSQLServerFirewall.psm1#L384

https://github.com/PowerShell/xSQLServer/blob/1bbdecaf5f75245c2b16e698579b28bf90bcc240/DSCResources/MSFT_xSQLServerF

[2017-10-12 16:06] johlju opened #862 "xSQLServerFirewall: Is SourcePath needed to determine SQL major version"
**Details of the scenario you tried and the problem that is occurring:**
Moved from issue #861:

Also, at a quick glance it seems like the only purpose for SourcePath is to check the SQL Server version. Would this be better done through the Registry?

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell th

[2017-10-12 16:06] johlju commented on #862
Regarding SQL Server version. If installing a standalone Integration Services and it's still possible to get the major version from the registry or any other means, then I don't see `SourcePath` being necessary.
Seems it is only used to determine the name of the service and path of  the executable for Integration Services.

[2017-10-12 16:07] johlju commented on #861
Good catch. Label this as a bug.

Regarding SQL Version, moving that to a separate issue #862.

[2017-10-12 16:15] johlju opened #863 "xSQLServer: Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the Should cmdlet has changed from Should Be to Should -Be.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

**The DSC configuration

[2017-10-12 16:34] johlju commented on #860
In a multiserver environment (or in a single server environment) I would typically don't use the computer name as the host name, but use a DNS host name (CNAME-record, or an A-record so Kerberos double hop works) so it easy to move the databases to a new environment.

That said. If possible, it should be possible to change the parameter if desired state is something else than the configured value.

[2017-10-12 22:24] randomnote1 commented on #859
Will do. Sorry haven't gotten to it yet, I've been under the weather the past couple days.

[2017-10-13 10:18] johlju commented on #732
Maybe we can leverage this to be able to at least get one node for Availability Group to be able to integration test some Availability Group resources. I have not read more about this. Just throwing this out there. 😄

[2017-10-13 10:28] johlju opened #864 "SqlRS: Does this resource support Microsoft SQL Server 2017 Reporting Services?"
**Details of the scenario you tried and the problem that is occurring:**
In SQL Server 2017 Reporting Services are no longer a part of SQL Server, but a separate install [Microsoft SQL Server 2017 Reporting Services](https://www.microsoft.com/download/details.aspx?id=55252).

Does this, and should this, resource support Microsoft SQL Server 2017 Reporting Services?

**The DSC configuration that is

[2017-10-13 10:31] johlju opened #865 "SqlRSSetup: New resource"
**Details of the scenario you tried and the problem that is occurring:**
In SQL Server 2017 Reporting Services are no longer a part of SQL Server, but a separate install [Microsoft SQL Server 2017 Reporting Services](https://www.microsoft.com/download/details.aspx?id=55252).

To be able to install this I think we should add a new resource that can correctly install this component. The other option

[2017-10-13 10:36] johlju opened #866 "xSQLServerSetup: Support Integration Services Scale Out"
**Details of the scenario you tried and the problem that is occurring:**
This resource should support the new instalaltion options to install Integration Services in a scale out configuration. See more information in [Walkthrough: Set up Integration Services Scale Out](https://docs.microsoft.com/en-us/sql/integration-services/scale-out/walkthrough-set-up-integration-services-scale-out)

**The DSC

[2017-10-13 11:23] randomnote1 commented on #732
The challenge with this is this requires the use of certificates to build which the resource currently does not support. The easiest thing to do in the short term would be to install WSFC on the box and build a one-node Availability Group.

[2017-10-13 11:25] randomnote1 commented on #865
I think xSQLServerSetup should continue to only focus on the capabilities provided by setup.exe in the SQL Server installation media. Since SSRS has be split out into its own installer, I believe it should have its own resource.

[2017-10-13 11:49] johlju commented on #865
I agree with @randomnote1.

[2017-10-13 11:59] johlju commented on #732
Ah I see. The integration test for xSQLServerAlwaysOnService currently installs a [Active Directory-detached cluster](https://technet.microsoft.com/en-us/library/dn265970(v=ws.11).aspx#Anchor_1), so maybe there is the option to add Availability Groups to this kind of cluster without AD? Or is it needed to use certificates then as well?

Installing an AD on the build worker could be tricky, but mig

[2017-10-13 12:26] randomnote1 commented on #732
You ask a good question! From my reading, I believe anything that is done outside the context of a domain is required to use certificates. That being said, if we're able to enable the AlwaysOn Service, I think we should be able to make it work.

[2017-10-13 12:36] randomnote1 opened #867 "xSQLServerMemory: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the SQL Instance is an FCI and the configuration is pushed to every node of the FCI, each of the resources that reach into the Instance execute multiple times per "cycle".

For example, if I have a 2-node FCI and have xSQLServerMemory defined, both nodes will reach into the instance and set the memory regardless if it is

[2017-10-13 12:37] randomnote1 commented on #867
I propose that if the node that is executing the configuration is not the active owner of the FCI, it should write a verbose message stating that, and then silently exit.

[2017-10-13 12:37] randomnote1 commented on #859
Here are the resources I've identified that definitely need to be made cluster aware. I will update this list as I create the issues for each resource.
- xSQLServerAlwaysOnAvailabilityGroup
- xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership
- xSQLServerAlwaysOnAvailabilityGroupReplica
- xSQLServerAvailabilityGroupListener
- xSQLServerConfiguration
- xSQLServerDatabase
- xSQLServerDatabaseOwne

[2017-10-13 13:00] randomnote1 opened #868 "xSQLServerAlwaysOnAvailabilityGroup: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerAlwaysOnAvailabilityGroup resource is applied to all of the nodes in a Failover Cluster Instance (FCI), the nodes will "fight" with each other while trying to create and configure the availability group.

**The DSC configuration that is using the resource (as detailed as possible):**
The following configura

[2017-10-13 13:01] randomnote1 commented on #868
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 13:24] randomnote1 opened #869 "xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership resource is applied to all of the nodes in a Failover Cluster Instance (FCI), the nodes will "fight" with each other while trying to manage the database memberships in the availability group.

**The DSC configuration that is using the resource (as detailed as poss

[2017-10-13 13:25] randomnote1 commented on #869
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 14:26] randomnote1 opened #870 "xSQLServerAlwaysOnAvailabilityGroupReplica: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerAlwaysOnAvailabilityGroupReplica resource is applied to all of the nodes in a Failover Cluster Instance (FCI), the nodes will "fight" with each other while trying to manage the database memberships in the availability group.

**The DSC configuration that is using the resource (as detailed as possible):**
Wh

[2017-10-13 14:26] randomnote1 commented on #870
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 15:44] johlju commented on #869
If I understand correctly. This will force the user to always add the same configuration to each node that is part of the availability group? It will no longer be enough (might never worked though?) to add this configuration to one of the nodes and that node will connect to the current primary replica (if needed) to do the changes?

[2017-10-13 15:55] johlju commented on #867
I can see this being a problem, where you have two different memory configurations in 2-or-more-node cluster. I agree that in those cases the user need to specify the same configuration in all the nodes. and that the Test-TargetResource should silently exit after writing a verbose message.

Test-DscConfiguration will always return $true since it silently exists. It will expect that the configurati

[2017-10-13 15:56] johlju commented on #859
@randomnote1 No worries. No hurry. Thanks for starting to do issues. I added a project for this as well, to easier track the progress.

[2017-10-13 16:07] randomnote1 commented on #869
Your assumption is correct. I had anticipated and assumed in the case of an FCI the same configuration would be pushed to all of the nodes to ensure seemless operation in the event of a node failure.

Currently if the resource detects the desired state is false, all the nodes will attempt to add the database to the availability group. Only one of the nodes will be successful in getting the whole w

[2017-10-13 16:17] randomnote1 commented on #867
Those are excellent questions.

I would hope that if static memory allocations are defined adequate memory would be available on all nodes. However, in reality I can see scenarios where the secondary node may be shorted resources due to budgetary constraints (purely non-technical reasons). I think that memory is node specific, so we should allow for different configurations per node.

For the get,

[2017-10-13 17:23] randomnote1 opened #871 "SqlAGListener: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerAvailabilityGroupListener resource is applied to all of the nodes in a Failover Cluster Instance (FCI), the nodes will "fight" with each other while trying to manage the Availability Group Listener on the specified AG.

**The DSC configuration that is using the resource (as detailed as possible):**
When the

[2017-10-13 17:23] randomnote1 commented on #871
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:09] randomnote1 opened #872 "xSQLServerConfiguration: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerConfiguration resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible)

[2017-10-13 18:09] randomnote1 commented on #872
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:12] randomnote1 opened #873 "xSQLServerDatabase: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerDatabase resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
W

[2017-10-13 18:12] randomnote1 commented on #873
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:14] randomnote1 opened #874 "SqlDatabaseOwner: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerDatabaseOwner resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible)

[2017-10-13 18:15] randomnote1 commented on #874
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:17] randomnote1 opened #875 "xSQLServerDatabasePermission: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerDatabasePermission resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as poss

[2017-10-13 18:17] randomnote1 commented on #875
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:32] randomnote1 opened #876 "SqlDatabaseRecoveryModel: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerDatabaseRecoveryModel resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as p

[2017-10-13 18:32] randomnote1 commented on #876
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:34] randomnote1 opened #877 "xSQLServerDatabaseRole: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerDatabaseRole resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):

[2017-10-13 18:35] randomnote1 commented on #877
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:44] randomnote1 opened #878 "xSQLServerEndpoint: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerEndpoint resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
W

[2017-10-13 18:44] randomnote1 commented on #878
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:47] randomnote1 opened #879 "xSQLServerEndpointPermission: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerEndpointPermission resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as poss

[2017-10-13 18:47] randomnote1 commented on #879
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:50] randomnote1 opened #880 "SqlServerEndpointState: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerEndpointState resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible)

[2017-10-13 18:51] randomnote1 commented on #880
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:52] randomnote1 opened #881 "xSQLServerLogin: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerLogin resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
When

[2017-10-13 18:52] randomnote1 commented on #881
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 18:58] randomnote1 opened #882 "xSQLServerMaxDop: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerMaxDop resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
Whe

[2017-10-13 18:58] randomnote1 commented on #882
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 19:02] randomnote1 opened #883 "xSQLServerPermission: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerPermission resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**

[2017-10-13 19:02] randomnote1 commented on #883
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 19:08] randomnote1 opened #884 "xSQLServerRole: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerRole resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
When

[2017-10-13 19:09] randomnote1 commented on #884
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 19:12] randomnote1 opened #885 "xSQLServerReplication: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerReplication resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):*

[2017-10-13 19:12] randomnote1 commented on #885
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

[2017-10-13 19:14] randomnote1 opened #886 "xSQLServerScript: Should Be Cluster Aware"
**Details of the scenario you tried and the problem that is occurring:**
When the xSQLServerScript resource is applied to all of the nodes in a Failover Cluster Instance (FCI), all of the nodes will connect to the instance and ensure the desired state is true even if the node is not currently hosting the instance.

**The DSC configuration that is using the resource (as detailed as possible):**
Whe

[2017-10-13 19:16] randomnote1 commented on #886
The resource should evaluate if the current node is actively hosting the SQL instance. If it is not hosting the instance, it should write a verbose message stating that it does not own the instance, and then silently exit.

Another option for this once since it's essentially a "custom" resource; Add a Boolean value to the resource called `ExecuteWhenNotPrimaryNode `(or something more elegant).

[2017-10-14 09:03] johlju commented on #867
I could agree on supporting different configurations for both static and dynamic memory allocation. For a static memory allocation, then the state would practically never be in desired state for the node not owning the instance.

Regarding Get. I understand your point, and can agree on it, but that would make it stray from normal behavior for a resource. It there were something dependent on the co

[2017-10-14 09:16] johlju commented on #869
This will essentially be a breaking change, right? Configurations out there that is only have the configuration on one node will "break" when the instance is moved to a node not having the configuration.
This need to be documented in the resource and showed in examples.

I'm working on making a first version of a [README.md](https://github.com/johlju/xSQLServer/tree/remove-examples/Examples) in th

[2017-10-14 10:44] johlju commented on #732
The integration tests for xSQLServerAlwaysOnService do enable AlwaysOn Service, but the same integration test disables it again (to test so disable work). So this integration tests should make sure to run after the integration tests for xSQLServerAlwaysOnService, and start by re-enable the AlwaysOn service.
The order integration tests are run is determine by the OrderNumber property (tests are run

[2017-10-14 13:17] randomnote1 commented on #867
Makes sense to me!

[2017-10-14 13:21] randomnote1 commented on #869
I don't know. The way I've been using it will not result in a breaking change, however the scenario you describe it could be.

I don't know that I would consider it a breaking change because the design of DSC is to configure the current node. There is no reasonable assumption that DSC can or will configure resources on other nodes. That's my  2 cents anyway.

[2017-10-14 13:31] randomnote1 commented on #732
Rather than having to re-enable the same components several times, can we build the integration tests in cascading order of dependency?

- Install SQL
  - Enable AlwaysOn Service
    - Add availability group
      - Add Database to Availability Group
      - Remove Database from Availability Group
    - Remove Availability Group
  - Disable AlwaysOn Service

This will help AppVeyor complete the ta

[2017-10-15 03:50] nabrond commented on #581
@johlju I think this issue was resolved by #538.

[2017-10-15 03:52] nabrond commented on #308
+1 for ServerName

[2017-10-15 04:07] nabrond commented on #319
I agree completely that these parameters must be standardized across all resources. However, I disagree with @randomnote1 on the topic of removing the parameter pointing at the appropriate host name for the instance. I think automatically determining this information at runtime will prove to be a costly operation that will undoubtedly introduce performance and maintenance issues down the road.

I

[2017-10-15 04:23] nabrond commented on #851
Good stuff here @randomnote1! Couple of notes/comments:
1. For readability, I suggest using `Sql` over `SQL`. I forget where I picked this up, but the guidance was any acronym over two characters should only have the first character capitalized.
2. The usage of the "Feature" block seems to be inconsistent. For example `SqlDatabasePermission` vs `SqlPermission`. Shouldn't the latter be `SqlServerPe

[2017-10-15 09:29] johlju commented on #851
Agree with @nabrond on that 'Sql' should be used.

Scope is an interesting idea. For example setting permission for Analysis Services, how would that resource be named?

1. AnalysisServicesPermission
1. ASPermission
1. SqlAnalysisServicesPermission
1. SqlAnalysisPermission
1. SqlASPermission

The last would align with the proposed name for 'xSQLServerRSConfig'; 'SqlRS'.

[2017-10-15 11:31] codykonior commented on #865
If you do a new SSRS 2017 resource please scope it to include its new cousin Power BI Reporting Services. It's the same code base and licensed with SQL Server Software Assurance. It's also a separate download, and the installer is basically exactly the same.

[2017-10-15 13:52] johlju commented on #581
Hmm... I'm not certain. #538 was merged on  May 21:st, I submitted this on May 27:th.

I see my error reporting is lacking. I think the problem was that it do write out those errors but don't actually throw an error so execution is stopped. I think I come across that accidentally when I had this resource in the configuration when I tested configuring a Reporting Services.

I think we keep it open

[2017-10-16 11:11] randomnote1 commented on #851
I like the idea of scope.

Instead of `Server`, how about `Instance`? This would look like `SqlInstancePermission`. Though I suppose if we're matching how Management Studio labels everything, it still wold be `Server`.

For Analysis Services (and other components), I am leaning towards using the acronym with the module identifier (`SqlASPermission`). I think spelling out the full name (`SqlAnalysi

[2017-10-16 13:39] randomnote1 commented on #868
Starting this one

[2017-10-16 15:29] johlju commented on #851
I think they need to fall under server scope.

I do like 'Instance', but I think it would be confusing.

Yes I think 'SqlASPermission' is the best option. We should not use long names again. :)

[2017-10-16 15:38] randomnote1 commented on #319
I need some parameter name help. I'm trying to determine a concise name that tells the end user that the resource will or will not process/apply when the current node is not actively hosting the SQL Instance. Here are some of my ideas so far:
- **ProcessWhenNotActiveNode**
- **ProcessOnPassiveNode** - I don't like this one because I believe it makes it sound like it is offloading processing to a s

[2017-10-16 15:56] johlju commented on #851
In issue description there is "Feature Property" in the list. Maybe that should be renamed to "Scope property" instead?

I thought of yet another idea. It builds on the discussion but changes the formula a bit.
Personally I think it generates non-PowerShelly names since it is not using [PascalCase](https://en.wikipedia.org/wiki/PascalCase) 😄
[code]

- Module Identifier
  - Sql
- Action (not requir

[2017-10-16 18:56] mgreenegit commented on #713
Just to chime in, I have definitely been tracking this issue and I think I have it narrowed down to a very specific repro for the service.  The local compile is the right short term answer (and I realize it is not ideal).  I will continue to track it until this has been corrected and I hope to use this thread to validate when it is resolved, if you don't mind.  Thank you for your patience.  cc @Oa

[2017-10-17 11:57] mnewswanger commented on #863
I'll knock this one out today

[2017-10-17 14:07] gdbarron commented on #841
Thanks for your reply and apologize for the delay.  I have provided sa rights in order to test, but the issue is not with permissions and is with how the run as credential functionality works.  The account provided requires the log on locally right and that's an issue with service accounts that purposefully have it blocked.  Looks like the way around is to grant that account the right it needs or

[2017-10-17 15:58] #534 closed

[2017-10-17 15:58] #618 closed

[2017-10-17 17:12] nabrond commented on #581
My thinking was that the error message posted was caused by a missing registry path. It appears this path was used to build a unique name for the AppDomain used to load the libraries used by WMI. When you refactored the code in #538, the dependency on the registry path was removed.

[2017-10-18 13:01] johlju commented on #869
To all: Please share your opinion on this. Would you consider this be a breaking change?

@randomnote1 You have a point that DSC should configure the target node. But since the resource has up till now configured the instance regardless of active node, this would make it a functional breaking change.
Can this be considered as "Fundamentally changing an existing functionality of a resource" as of t

[2017-10-18 13:20] randomnote1 commented on #869
@johlju, if we approach it the way I did in Pull Request #890, this will not be a breaking change. I added a parameter called `ProcessOnlyOnActiveNode` that must be set to `$true` in order for the resource to not process when the instance is not living on the node.

[2017-10-18 13:45] johlju commented on #869
@randomnote1 A much better approach! Thanks for think of that! 😄 Looking good after just browsing the PR quick.

[2017-10-18 17:45] #863 closed

[2017-10-19 14:33] #844 closed

[2017-10-19 14:52] johlju opened #891 "SqlServerDscHelper: Pester not hitting all rows in AppVeyor, but it works locally"
**Details of the scenario you tried and the problem that is occurring:**
The unit test for xSQLServerHelper do hit all rows for the helper function `Test-ActiveNode` when run locally. But when the unit test is run i AppVeyor. for some reason one of the lines are reported as not hit, even when the unit test passes without any errors.

**Test run in AppVeyor**:
https://ci.appveyor.com/project/PowerS

[2017-10-20 07:26] johlju commented on #859
@randomnote1 Can I trouble you to write about the concept of parameter `ProcessOnlyOnActiveNode`  in each of the issues you created (same text in each suffice) so that others contributors can help and use the same approach.

[2017-10-20 07:31] #868 closed

[2017-10-20 12:28] randomnote1 commented on #869
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:29] randomnote1 commented on #870
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:29] randomnote1 commented on #871
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:29] randomnote1 commented on #872
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:29] randomnote1 commented on #873
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:29] randomnote1 commented on #874
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #875
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #876
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #877
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #878
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #879
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #880
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #881
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #882
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #867
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:30] randomnote1 commented on #883
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:31] randomnote1 commented on #884
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:31] randomnote1 commented on #885
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:31] randomnote1 commented on #886
To resolve this issue, a parameter called `ProcessOnlyOnActiveNode` should be created on the `Set-TargetResource` and `Test-TargetResource` functions.

The `Get-TargetResource` function will execute the helper function `Test-ActiveNode` to determine if the current node is actively hosting the SQL instance and return the result via the read-only property `IsActiveNode`.

The `Test-TargetResource` f

[2017-10-20 12:31] randomnote1 commented on #859
@johlju, All of the issues should be updated. I don't think I missed any.

[2017-10-20 13:25] randomnote1 commented on #870
Starting on this one.

[2017-10-20 15:13] johlju commented on #859
@randomnote1 Thanks for that! And you went above and beyond and created a gist as well! 🙇

[2017-10-22 19:24] yamezui commented on #865
I agree, SSRS 2017 should be considered together with PowerBI Report Server

[2017-10-23 19:50] bozho opened #893 "SqlServerDsc: mixing xSQLServer resources with custom SQL Server resources"
I'm working on a set of partial configurations for configuring our Windows servers. One of the partial configurations is used to configure SQL Server (including SSRS and SSAS). It is a mix of xSQLServer resources and a few custom class-based DSC resources used to configure a few SQL things specific to our needs.

All this currently runs on Windows 2012 R2 server and SQL Server 2014 (so using SQLPS

[2017-10-24 08:25] JamesDLD commented on #829
For info, we are using script through xSQLServerScript as a workaround.

[2017-10-24 14:32] bozho commented on #893
Update: This issue does not seem to be linked to module and SMO assembly loading.

I've trimmed down one of our custom class resources to bare methods and still experience the same problem.

I've cleaned out all configuration on the target node. The test partial configuration is this (SQLServerProperties being our bare-bones custom resource):

[code]

This configuration works with 8.1.0.0, but fai

[2017-10-25 11:04] johlju commented on #893
I have not tested this. But here's my thoughts.

Don't really know whats going on. if you get this with a bare bones DSC Class-based resource, it must have something to do with that a class-based resource is involved. Does it load something (even as barebone) that makes things go wrong?
Don't know what could have changed between version that would make your configuration failed. Only thing I can t

[2017-10-25 14:21] bozho commented on #893
I've played with this a bit more, but to answer your questions first:

The custom bare-bones resource doesn't load any SMO-related assemblies. If I remove `xSQLServerLogin` from the configuration, it runs fine with 8.2.0.0 installed and if I add your code to the Test() method of the custom resource, there are no SMO assemblies loaded.

If I put `xSQLServerLogin` resource back into the configuratio

[2017-10-25 14:33] flouwers commented on #706
I faced the same issue in the same context (SQL cluster in Azure).
When changing the service account in SQL Server Configuration Manager, the SPNs are updated for you.
It is not the case in DSC module

[2017-10-25 14:34] #870 closed

[2017-10-25 14:35] flouwers commented on #761
Changing the collation can be done by launching the setup.exe with "/REBUILDDATABASE" switch.
However, this command is not implemented in the DSC module. Could that be added in a future release ? (BTW I already implemented this workaround)

[2017-10-25 14:39] johlju commented on #706
@flouwers since this issue is closed, could you please open a new issue regarding SPN's not being chnaged?

[2017-10-25 14:53] bozho commented on #893
Ah... I found the problem. It's.... (dun-dun-duuuuunnn):

`$env:PSModulePath = [System.Environment]::GetEnvironmentVariable('PSModulePath', 'Machine')`

in `Import-SQLPSModule`.

It would seem that system-level PSModulePath on Windows Server 2012 R2 (with WMF 5.1 installed) only contains `C:\Windows\system32\WindowsPowerShell\v1.0\Modules\` (and `C:\Program Files (x86)\Microsoft SQL Server\120\Too

[2017-10-25 14:54] johlju commented on #761
@flouwers That action will destroy any user databases currently on the system. But it do have the ability to [Set or Change the Server Collation](https://docs.microsoft.com/en-us/sql/relational-databases/collations/set-or-change-the-server-collation). If someone wants to implement this and send in a PR, then sure I'm happy to merge it so we get this functionality into a future release. 😄

@flouwer

[2017-10-25 14:56] johlju commented on #761
Reopening this issue with a new issue title since this will not only enable changing collation, but could potentially be used for other scenarios.

[2017-10-25 15:06] johlju commented on #893
Oh, my bad! This issue might break a a lot of people! 😞 Thank you for finding the problem! 👍 😃

Yes it sounds like that would be the proper fix to get the path for SQLPS into the `$env:PSModulePath`. Labeling this as a bug!

Do you want to send in a PR for this? No worries if you don't have time, labeling this as 'help wanted' for the time being.

[2017-10-25 15:12] flouwers commented on #706
@johlju sorry, I replied on the wrong issue. It was for #843

[2017-10-25 15:15] flouwers commented on #843
I have the same issue.
For information, if you change the service account in SQL Server Configuration Manager, the SPNs are updated for you.
I am testing if it's a good solution to include setspn commands in the xSQLServerServiceAccount module itself.

[2017-10-25 15:15] johlju commented on #706
@flouwers No worries. 😄 Then please submit your comment on the issue #843 as well 😄

[2017-10-25 15:18] johlju commented on #829
@JamesDLD No sorry. 😞 Feel bad about it, both this issue and other, but had to prioritize PR reviews.
Would it be possible for you to post the script you are using, if you are allowed to share it?

[2017-10-25 15:34] JamesDLD commented on #829
No pb @johlju there is the script I used, it triggers the AD group as per a specific naming convention ==>

**Get Script**
[code]

**Test Script**
[code]

**Set Script**
[code]

[2017-10-25 15:48] bozho commented on #893
I probably won't have the time before next week, but I can give it a go then.

It would be tempting to fix this by simply appending `Machine` and `User` PSModulePaths, but it looks like PS adds more than that to `$env:PSModulePath`, as SYSTEM user's `User` PSModulePath is empty.

[2017-10-26 11:04] randomnote1 commented on #869
Starting this one.

[2017-10-27 18:43] randomnote1 commented on #867
Starting this next

[2017-10-27 20:26] #656 closed

[2017-10-30 18:21] #869 closed

[2017-10-31 15:59] #867 closed

[2017-11-01 11:22] PaulFeaser commented on #882
I will work on this one.

[2017-11-01 19:03] johlju commented on #882
@PaulFeaser Great, thank you! Labeled as in progress.

[2017-11-02 02:07] nabrond commented on #843
@4c74356b41 / @flouwers I believe you are mistaken here. SQL Configuration Manager is **not** responsible for registering the SPN when changing service accounts. Rather, the SQL Server Service handles that task itself at start-up. Additionally, removing registered SPNs at service shutdown. Check out the Microsoft documentation for [Register a Service Principal Name for Kerberos Connections](https:

[2017-11-02 05:57] 4c74356b41 commented on #843
well, i mean, i dont really care, its your dsc module, if you want to render it useless, its your choice

[2017-11-02 19:37] mgreenegit commented on #851
I would like to submit a PR asap to resolve [Issue 713](https://github.com/PowerShell/xSQLServer/issues/713).  The root cause of that issue is actually the length of the AlwaysOnAvailabilityGroupDatabaseMembership resource.  If I am going to request a breaking change, I would like to minimize churn and risk of a rename happening twice.

I will get a PR rolling with the naming conventions from the

[2017-11-02 19:57] johlju commented on #851
@mgreenegit go ahead with the PR.

@randomnote1 (and others) my last comment with the idea of using the component abbreviation in the naming convention, what is your thought? Should we discard the idea?
I’m all for going with the convention (and names) from the issue description. Just want to make sure that there are no more ideas or opinions before @mgreenegit’s PR is merged and new version is re

[2017-11-02 20:08] randomnote1 commented on #851
@johlju, I'm struggling with the same thing about the pascal case of the component suggestion.

Can we drop `DBE `(database engine) from the list? I think it's safe to assume that resources without a component name are database engine.

The other option is to change `DBE` to `Dbe`, thus making it work with pascal case. I think `SqlDbeAGDatabases` definitely looks better.

[2017-11-02 20:11] randomnote1 commented on #851
@mgreenegit, @johlju
What is the max length for the resource name? We should probably add that to our unit tests.

[2017-11-02 20:32] johlju commented on #851
I’m okay with dropping the ‘DBE’ from the list, I agree that resources without an” component abbreviation would be assumed to belong to Database Engine.
I’m also okay writing it as ‘Dbe’ if we would keep it. Agree that it looks better. But I think dropping it from he list is best.

If we are going with component abbreviation should we write Analysis Services with the abbreviation ‘As’ (pascal case

[2017-11-02 20:34] nabrond commented on #851
I agree with @randomnote1, not a huge fan of `DBE`, I agree on baking the assumption into the scheme. As for the other components, I vote to use uppercase for them!

[2017-11-02 20:35] randomnote1 commented on #843
@4c74356b41

The only thought I have about including a SPN resource is for use with Availability Group listeners or SSRS (not sure about SSAS off the top of my head). Otherwise I agree with @nabrond that SQL Server natively handles SPN registration for the default listener on the instance.

If a SPN resource were proposed to be added to this module, I would suggest that we look at implementing it

[2017-11-02 20:35] johlju commented on #851
@randomnote1 there is an issue in either DscResources or DscResources.Tests that we need to get a Tests for the hard limit for path’s (not sure it’s needed though). But if there is a hard limit for resource names we absolutely need a common test for that.

[2017-11-02 20:37] randomnote1 commented on #851
@johlju, @nabrond, @mgreenegit

I will update the template in the first comment with the suggested naming scheme. For two character abbreviations, I'll stick with uppercase letters per @nabrond's earlier suggestion.

[2017-11-02 20:44] johlju commented on #851
Sounds great! Thanks @randomnote!

[2017-11-02 20:48] randomnote1 commented on #851
@johlju, @nabrond, @mgreenegit

The suggestion table at the top is updated. I ran through it pretty quickly, so please let me know if I made any mistakes.

Thanks!

[2017-11-03 00:28] mgreenegit commented on #851
Could I ask someone to please take a look at this so far?  Pester is returning the same error for every resource and I'm having trouble figuring out where the error is coming from.
https://github.com/mgreenegit/xSQLServer/tree/mgreenegit-patch-2

This assumes the goal would be to rename the module to SqlServerDSC, and that since it is a breaking change it would become version 9.0.0.  I wasn't sure

[2017-11-03 05:14] nabrond commented on #851
@mgreenegit Poked around a little bit with your branch tonight. I found some issues where `MSFT_SqlAGListener.Tests.ps1` and `MSFT_SqlServerConfiguration.Tests.ps1` were mistakenly trying to load the module prefixed with SqlServerDSC.

There also seems to be an oddity in `SqlAGListener.Tests.ps1\Test-TargetResource` (at least on my machine [Pester 4.0.8]). It seems as if the `BeforeEach` is not fi

[2017-11-03 10:28] randomnote1 commented on #851
Dumb question here. When @mgreenegit's PR is merged and the resource is renamed, will we rename the repository? Or will we create a new repo?

Not particularly sure how this works with such a major change.

[2017-11-03 14:15] johlju commented on #851
A lot of things to comment on here. On at the time below...

@mgreenegit Running your code both locally and in AppVeyor. Will see if I can see whats going on.

@mgreenegit renaming the resource to 'SqlServerDsc' was in scope, but we was waiting for the discussion about the naming convention to be concluded and the new guidelines merged i DscResources. 😄
But since the work is already done now we co

[2017-11-03 14:21] johlju commented on #851
@nabrond I have seen that issue... Think it had something to do with hash tables being used wrongly (not cloned?) which is caught in PowerShell prompt, but not in debugger because of different scopes. I have fixed it in some resources, but a long time ago, so I don't remember exactly what caused it.

[2017-11-03 15:12] johlju opened #897 "xSQLServer: Running tests locally in PowerShell console generates prompt for parameters"
**Details of the scenario you tried and the problem that is occurring:**
This block is the problem in the below code. Before this block `$testParameters` contains 4 keys (InstanceName, etc). Instead of adding two more keys, this block of code changes the `$testParameters` to only contain these two keys (Ensure, Permission). But why it do work in the debugger and not in the PowerShell prompt is a m

[2017-11-03 15:38] johlju commented on #851
@mgreenegit I ran the code in AppVeyor. There are errors but can't see those you were mentioning.

See all errors here:
https://ci.appveyor.com/project/johlju/xsqlserver/build/9.0.1035.0

* Line 54: These errors are due to repository is not named as the module manifest. Since it does not recognize the repository name it tries to download the module 'SqlServerDsc' as an dependency for integration t

[2017-11-03 15:43] johlju opened #899 "xSQLServerHelper: Throws exception 'The type name 'Microsoft.SqlServer.Management.Smo.LoginCreateOptions' already exists'"
**Details of the scenario you tried and the problem that is occurring:**
If you run the xSQLServerHelper tests twice in the same PowerShell session. When starting all tests with `Invoke-Pester` then xSQLServerHelper throws the exception below.

[code]

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell t

[2017-11-03 20:36] mgreenegit commented on #851
This is awesome collaboration.  I will make these changes ASAP.

The naming is in line with what I am proposing for the new guidelines (also hoping to get done ASAP).  I will present my proposal next week on the community call for feedback and/or consensus.

The 129 char limit is fullname (path) per file. We hope that limit is going to be temporary but can be used as a guide in the short term.

[2017-11-04 12:39] johlju opened #900 "xSQLServerAlwaysOnAvailabilityGroup: Throws exception when BasicAvailabilityGroup ís set to $false"
**Details of the scenario you tried and the problem that is occurring:**
When configuring an Availability Group on SQL Server 2017 and the configuration contains the parameter `BasicAvailabilityGroup` and set to `$false` it throws an error.

This is probably due to that it doesn't compare the `BasicAvailabilityGroup` value correctly if we look at the verbose output.

[code]

Full output below.

[c

[2017-11-04 18:59] #897 closed

[2017-11-06 20:06] AmarettoSlim commented on #701
The same error occurs when a service account password contains a "$" as well.

    + CategoryInfo          : InvalidOperation: (:) [], CimException
    + FullyQualifiedErrorId : ProviderOperationExecutionFailure
    + PSComputerName        : localhost

[2017-11-07 08:33] flouwers commented on #843
@nabrond @randomnote1
I think both approaches are equivalent:
On one side it's indeed more AD-related since changing SPN requires special permissions.
On the other side, as @4c74356b41 mentions, without that functionality, SQL is not working as desired (at least when using a domain user to run the SQL service). So triggered SPN change from xSQLServer module could also be a valid option.
I leave it

[2017-11-07 12:23] johlju commented on #851
@mgreenegit I updated the issue https://github.com/PowerShell/DscResource.Tests/issues/188 with a link to the above comment regarding the limit.
Let me know if you need any further help with the PR.

[2017-11-08 01:47] mgreenegit commented on #851
Looks like we have a good build.  I will submit a PR for review and discussion.  Note I temporarily renamed my fork during testing.
https://ci.appveyor.com/project/mgreenegit/sqlserverdsc

[2017-11-08 13:32] johlju commented on #308
@randomnote1 @nabrond + all

Everybody okay with `ServerName` and `InstanceName`? If so, I suggest we make this change as soon as PR #902 is merged.

[2017-11-08 13:46] johlju commented on #308
To all: Maybe I should have asked, is anyone not okay with `ServerName` and `InstanceName` as the new parameter names to replace the old (see issue description)? If so please tell us why. 😄

[2017-11-08 15:00] randomnote1 commented on #308
@johlju, I'm good with the proposed change.

[2017-11-08 16:04] nabrond commented on #308
sounds good to me @johlju

[2017-11-08 16:12] johlju commented on #851
@mgreenegit  @randomnote1 I saw a think in the above. SqlAGDatabases is written as plural. Should we change that to SqlAGDatabase so it is singular as the rest? I suggest we do that in PR #902.

[2017-11-08 18:21] #882 closed

[2017-11-09 12:18] dead8171 commented on #713
@DdenBraver How can I configure the $credebtial part locally, since I was using the automation account credentials while configuring this from the powershell, but how to resolve this while configuring this locally???

[2017-11-09 17:35] msurasky opened #903 "SqlDatabasePermission: allows set permissions at the DB level but not object?"
**Details of the scenario you tried and the problem that is occurring:**
I am trying to configure xSQLServerDatabasePermission to implement a desired state that will REVOKE the public group EXECUTE access to a particular stored procedure (let's say xp_regread...). The TSQL would be like this:

REVOKE EXECUTE ON [xp_regread] FROM public

I thought that xSQLServerDatabasePermission resource would do

[2017-11-09 19:59] mgreenegit opened #904 "Example references bad resource names"
https://github.com/mgreenegit/SqlServerDsc/blob/dev/Examples/SQL-ClusterDB.ps1

xSQLServerFailoverClusterSetup is not a valid resource name

[2017-11-09 20:04] jonathaneckman commented on #713
+1 Just ran into this.

[2017-11-09 23:23] gunnarcampo opened #905 "xSQLServerLogin should support default instance"
Ruining version 8.2.0.0 of xSQLServer\xSQLServerLogin, it is required to put an instance name. How can we create a server login if there are no named instances? aka, only in the default instance.

xSQLServerLogin Add_WindowsUser
        {
            Ensure               = 'Present'
            Name                 = 'corp\Install'
            LoginType            = 'WindowsUser'
            SQLSe

[2017-11-10 00:08] gunnarcampo commented on #905
Please disregard, I figured out how this works, turns out SQLServer is the ComputerName, the below syntax works. Thanks!
    xSQLServerLogin Add_WindowsUser
        {
            Ensure               = 'Present'
            Name                 = 'corp\Install'
            LoginType            = 'WindowsUser'
            SQLServer            = $env:COMPUTERNAME
            SQLInstanceName      = '

[2017-11-10 00:08] #905 closed

[2017-11-10 06:45] johlju commented on #462
This will resolve issue #373 as well.

[2017-11-10 06:56] johlju commented on #904
The examples in the root of the example folder contain a lot of issues. I'm working on replacing them in issue #462. In that issue my thought was to split them up between xFailoverCluster and xSQLServer repo as examples in a markdown file, trying to link to examples in each resource example folder. Eventually, I want to see these as configurations in DscConfigurations repository.
But step one is r

[2017-11-10 07:12] johlju commented on #903
Unfortunately, there is currently no resource able to grant or revoke permission on objects.
Extending this resource to take an array of objects, how would we distinguish that the user wants to set the object only, and not on the database.
Maybe we should add an new resource 'SqlDatabaseObjectPermission'.

Do you have any suggestions?

[2017-11-10 17:49] johlju commented on #851
@randomnote1 and @nabrond can I please get your opinion of the above comment - renaming 'SqlAGDatabases' to 'SqlAGDatabase' (singular). Did we have a reason for naming it using plural?

[2017-11-10 18:02] randomnote1 commented on #851
Sorry...I totally forgot to respond to your initial question!

I'm ok with using the singular `Database`. I'm not sure that I had a good reason for using `Databases` other than it indicated that multiple databases could be added to the availability group using one resource instance.

[2017-11-10 19:22] nabrond commented on #851
+1 for singular. Although I understand the point @randomnote1 is making about it potentially managing multiple databases. Maybe we need to take a look at the SqlAG resources as a whole and redesign? That's a discussion for another issue though.

[2017-11-10 19:36] johlju commented on #851
Updated the table above and will add a review comment asking if we can do this change in PR #902.

[2017-11-12 12:04] johlju commented on #308
Working on this now. Using PR #902 as base.

[2017-11-13 19:18] ctabe commented on #375
Here is a silent PS script I use for SSMS:

Type: Enter-PSSession –ComputerName <ComputerName>

Type: Cd \ to directory with “SSMS.exe” (D:\SQL2016\17)

Type: .\SSMS-Setup-ENU.exe /q /IAcceptSQLServerLicenseTerms /Action=Install

[2017-11-14 18:42] msurasky commented on #903
Yes, I would think a new resource is probably what we need here. The name you suggest (SqlDatabaseObjectPermission) seems right to me.

I would love to implement this myself but unfortunately my experience on power shell and DSC is pretty much null... I just happen to use some of the PowerShell resources via a Puppet Module that implements this objects, and that's all.

Hope some day the xSqlServe

[2017-11-16 16:20] randomnote1 commented on #812
@MakwaWes, did you have SQL Server Management Studio installed on the box?

[2017-11-16 19:10] MakwaWes commented on #812
No, as described in the issue, the server OS is a Windows Core therefore we don't deploy any GUI stuff on it.

[2017-11-16 19:19] randomnote1 commented on #812
Oops, missed that. :confused: Thanks!

[2017-11-18 15:17] johlju opened #907 "xSQLServerAlwayOnAvailabilityGroupDatabaseMembership: Does not list the examples in the README.md"
**Details of the scenario you tried and the problem that is occurring:**
The resource xSQLServerAlwayOnAvailabilityGroupDatabaseMembership does not list the examples in the README.md under a section 'Examples'.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is running:**
n/a

**W

[2017-11-18 15:19] johlju opened #908 "SqlServerDsc: make the resources appear in alphabetical order in README.me"
**Details of the scenario you tried and the problem that is occurring:**
After the repository has been renamed to SqlServerDsc and PR #902 has been merged - make sure the resource appear in alphabetical order in the README.md.

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is run

[2017-11-18 15:26] johlju opened #909 "SqlServerDsc: Naming convention must be explained"
**Details of the scenario you tried and the problem that is occurring:**
When repository is renamed to SqlServerDsc and PR #902 is merged then 'Naming convention' section must be updated in CONTRIBUTING.md (based on issue #851).

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System, SQL Server and PowerShell the DSC Target Node is r

[2017-11-20 12:26] mohamednazar opened #910 "Steps Required: SQL Always ON High Availability"
**Want to know correct steps for successfully enabling Always on High Availability with WFSC **

I am using chef recipe with DSC_Resource for setting up SQL always on. I am not sure how we can roles like PrimaryReplica and SecondaryReplica... as per the examples in Github those are created in configurationdata. How can I create the same via  DSC_Resource in chef recipe?

`$ConfigurationData = @{

[2017-11-20 17:15] johlju commented on #910
I can't help you with chef since I'm not familiar with Chef. Also, we do not have a full step-by-step examples as of yet. It's being worked on in issue #462.

Please see the following example. It uses the same configuration for both the Primary and Secondary replica in the beginning of the configuration. Then, depending which replica, it uses xSQLServerAlwaysOnAvailabilityGroup and xSQLServerAlway

[2017-11-20 17:21] johlju commented on #910
On top of that you need to make sure it, the account used to run cluster configuration, has the right permission to create CNO in Active Directory (unless pre-staging). And that the CNO has the correct permission in Active Directory to create the VCO's.

[2017-11-21 18:03] nabrond opened #911 "xSQLServerAlwaysOnAvailabilityGroup Requires Optional Parameters"
**Details of the scenario you tried and the problem that is occurring:**
If the optional parameters `ConnectionModeInPrimaryRole` and `FailureConditionLevel` are not provided in the configuration for an Availability Group, `Test-TargetResource` reports a failure.

**The DSC configuration that is using the resource (as detailed as possible):**
[code]

**Version of the Operating System, SQL Server a

[2017-11-21 18:11] nabrond opened #912 "xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership: Parameter "DatabaseName" should be case insensitive"
**Details of the scenario you tried and the problem that is occurring:**
The property `DatabaseName` should not use a case-sensitive test to determine whether a database name matches the specified value or pattern.

**The DSC configuration that is using the resource (as detailed as possible):**
[code]
This configuration should match any combination of case for the name "MyDB". However, only databa

[2017-11-22 07:54] dead8171 opened #913 "The resource SqlSetup resource does not show in Azure Automation"
I found this very weird that I cant see the xSQLserversetup module in the Azure automation account, this module is required so that I can install the SQL Server instance onto the node, but since I cant see this configuration inside the xSQLserver module, how can I use this module, I tried importing this but it didnt got imported as well, Is anyone having this kind of issue??

Please How can I use

[2017-11-22 12:07] randomnote1 commented on #913
Hi @dead8171, this is a known bug that is in the process of being resolved in PR #851. See the following issues for some more details:

- #310
- #705
- #713
- #716

The known workarounds are listed [here](https://github.com/PowerShell/xSQLServer/issues/716#issuecomment-323056385).

[2017-11-22 13:13] dead8171 commented on #913
The workaround for this is use the xSQLserver 7.1.0.0 module, I have imported this but couldnt able to see the xSqlserversetup module in there please let me know about this, also How can I run the script locally, I mean I have to pass the credentials in the DSC to make it to work but I dont know how to do that.

[2017-11-22 13:56] randomnote1 commented on #913
I want to make sure we're using the same terminology here. xSQLServerSetup is a DSC resource that is a part of the xSQLServer module. Can you see the xSQLServerSetup resource when you execute `Get-DscResource -Module xSQLServer -Name xSQLServerSetup`?

[2017-11-22 17:22] GArionMSFT opened #914 "SqlServerMemory: Auto memory on Azure VMs is off by an order of magnitude on large VMs"
**Details of the scenario you tried and the problem that is occurring:**
Provision an Azure VM of type:  Standard_E32_v3   VM (Windows) (with 256GB RAM) and have xSQLServerMemory  automatically set max memory.
Expected would be that it sets SQL Server max memory to about 200+ GB RAM, actual result: it sets to about 27GB RAM.

The reason for that is that the script uses
`((Get-CimInstance -ClassNam

[2017-11-22 18:12] johlju commented on #914
I have tested this on a physical and it looks okay to me.

[code]

And on a VM with less memory.

[code]

[2017-11-22 18:13] johlju commented on #914
I label this one as 'good first issue'. If someone new to contributing wants to take something on, this is a good one.

[2017-11-22 18:19] dead8171 commented on #913
@randomnote1 Where should I execute this command since I am using Powershell of automation account. I know thats the part of the xSQLServer module but I cant seem to find that module in the Automation Account Powershell gallery.

[2017-11-22 18:43] randomnote1 commented on #913
You should be able to navigate to the module version you wish to deploy in the [PowerShell Gallery](https://www.powershellgallery.com/packages/xSQLServer/7.1.0.0) and click the "Deploy to Azure Automation" button. From my limited testing, it will walk you through the steps to download the module into your automation account.

[2017-11-22 20:48] raxso1 commented on #913
Hi

@johlju and @randomnote1
I am still having issue with xSQLSetup resource being loaded in AA account, I have followed the work around of deleting xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership, and zipping up the file. it loads successfully into AA, however I still cannot see the xSQLSetup resource, tried version 7.1.0.0, 8.0.0.0 and 9.0.0.0. Is there a fix?

[2017-11-23 06:52] dead8171 commented on #913
@randomnote1 I have tried that, and it did deploy to the Automation Account, but I still cant see the xSQLServerSetup module inside the Automation Account, I have screenshot that shows this. But How to upload them here.

[2017-11-23 12:43] raxso1 commented on #913
@dead8171 Hi, deleted xSQLServerAlwaysOnAvailabilityGroupDatabaseMembership, zipped the file and  version 9.0.0.0. Although I cannot see xSQLServerSetup, I recompiled my SQL DSC config in AA and it completed successfully. Applied the config to one of my VMs and it worked. Try it out.

[2017-11-24 04:56] Matticusau opened #915 "xSqlServerLogin: fails test for Disabled sql logins everytime"
**Details of the scenario you tried and the problem that is occurring:**
I have found that when you set the Disabled property for a login, in my case a SQL Login, the logic of the test case means that it will attempt to authenticate as that login and thus fail.

The problem is with the following code logic:

[code]

Based on this logic, if the login is a SQL Login then it will always attempt to au

[2017-11-24 05:22] johlju commented on #915
Thanks for the detailed bug report! Sounds like an easy fix, but a regression test should be written for this, so it doesn’t happen again. Labeling this one as ‘help wanted’ so someone that is up for resolving this can take it on.

[2017-11-27 07:52] mattpound808 commented on #716
I'm suffering from the same problem so just adding feedback to get this fixed.

[2017-11-28 19:13] randomnote1 commented on #909
@johlju, I can take this one since I put together the issue.

[2017-11-28 19:41] #713 closed